wsdl/MediaServerDevDesc/ConnectionManager.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="ConnectionManager">
    <port binding="ConnectionManager" name="GetProtocolInfo">
      <soap:address location="http://fritz.box:49000/MediaServer/ConnectionManager/Control"/>
    </port>
    <port binding="ConnectionManager" name="GetCurrentConnectionIDs">
      <soap:address location="http://fritz.box:49000/MediaServer/ConnectionManager/Control"/>
    </port>
    <port binding="ConnectionManager" name="GetCurrentConnectionInfo">
      <soap:address location="http://fritz.box:49000/MediaServer/ConnectionManager/Control"/>
    </port>
  </service>
  <binding name="ConnectionManager" type="ConnectionManager">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetProtocolInfo">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ConnectionManager:1#GetProtocolInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ConnectionManager:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ConnectionManager:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetCurrentConnectionIDs">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ConnectionManager:1#GetCurrentConnectionIDs"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ConnectionManager:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ConnectionManager:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetCurrentConnectionInfo">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ConnectionManager:1#GetCurrentConnectionInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ConnectionManager:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ConnectionManager:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="ConnectionManager">
    <operation name="GetProtocolInfo">
      <input message="GetProtocolInfoRequest"/>
      <output message="GetProtocolInfoResponse"/>
    </operation>
    <operation name="GetCurrentConnectionIDs">
      <input message="GetCurrentConnectionIDsRequest"/>
      <output message="GetCurrentConnectionIDsResponse"/>
    </operation>
    <operation name="GetCurrentConnectionInfo">
      <input message="GetCurrentConnectionInfoRequest"/>
      <output message="GetCurrentConnectionInfoResponse"/>
    </operation>
  </portType>
  <message name="GetProtocolInfoRequest"/>
  <message name="GetProtocolInfoResponse">
    <part type="xsd:string" name="Source"/>
    <part type="xsd:string" name="Sink"/>
  </message>
  <message name="GetCurrentConnectionIDsRequest"/>
  <message name="GetCurrentConnectionIDsResponse">
    <part type="xsd:string" name="ConnectionIDs"/>
  </message>
  <message name="GetCurrentConnectionInfoRequest">
    <part name="ConnectionID"/>
  </message>
  <message name="GetCurrentConnectionInfoResponse">
    <part name="RcsID"/>
    <part name="AVTransportID"/>
    <part type="xsd:string" name="ProtocolInfo"/>
    <part type="xsd:string" name="PeerConnectionManager"/>
    <part name="PeerConnectionID"/>
    <part type="xsd:string" name="Direction"/>
    <part type="xsd:string" name="Status"/>
  </message>
</definitions>
