wsdl/igd2/WANIPConnection2.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="WANIPConnection2">
    <port binding="WANIPConnection2">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPConn1"/>
    </port>
  </service>
  <binding name="WANIPConnection2" type="WANIPConnection2">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="setConnectionType">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#SetConnectionType"/>
    </operation>
    <operation name="getConnectionTypeInfo">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetConnectionTypeInfo"/>
    </operation>
    <operation name="requestConnection">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#RequestConnection"/>
    </operation>
    <operation name="requestTermination">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#RequestTermination"/>
    </operation>
    <operation name="forceTermination">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#ForceTermination"/>
    </operation>
    <operation name="setAutoDisconnectTime">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#SetAutoDisconnectTime"/>
    </operation>
    <operation name="setIdleDisconnectTime">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#SetIdleDisconnectTime"/>
    </operation>
    <operation name="setWarnDisconnectDelay">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#SetWarnDisconnectDelay"/>
    </operation>
    <operation name="getStatusInfo">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetStatusInfo"/>
    </operation>
    <operation name="getAutoDisconnectTime">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetAutoDisconnectTime"/>
    </operation>
    <operation name="getIdleDisconnectTime">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetIdleDisconnectTime"/>
    </operation>
    <operation name="getWarnDisconnectDelay">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetWarnDisconnectDelay"/>
    </operation>
    <operation name="getNATRSIPStatus">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetNATRSIPStatus"/>
    </operation>
    <operation name="getGenericPortMappingEntry">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetGenericPortMappingEntry"/>
    </operation>
    <operation name="getSpecificPortMappingEntry">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetSpecificPortMappingEntry"/>
    </operation>
    <operation name="addPortMapping">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#AddPortMapping"/>
    </operation>
    <operation name="deletePortMapping">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#DeletePortMapping"/>
    </operation>
    <operation name="getExternalIPAddress">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetExternalIPAddress"/>
    </operation>
    <operation name="getExternalIPv6Address">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#X_AVM_DE_GetExternalIPv6Address"/>
    </operation>
    <operation name="getIPv6Prefix">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#X_AVM_DE_GetIPv6Prefix"/>
    </operation>
    <operation name="getDNSServer">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#X_AVM_DE_GetDNSServer"/>
    </operation>
    <operation name="getIPv6DNSServer">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#X_AVM_DE_GetIPv6DNSServer"/>
    </operation>
    <operation name="deletePortMappingRange">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#DeletePortMappingRange"/>
    </operation>
    <operation name="getListOfPortMappings">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#GetListOfPortMappings"/>
    </operation>
    <operation name="addAnyPortMapping">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPConnection:2#AddAnyPortMapping"/>
    </operation>
  </binding>
  <portType name="WANIPConnection2">
    <operation name="setConnectionType">
      <input message="setConnectionTypeRequest"/>
    </operation>
    <operation name="getConnectionTypeInfo">
      <output message="getConnectionTypeInfoResponse"/>
    </operation>
    <operation name="requestConnection"/>
    <operation name="requestTermination"/>
    <operation name="forceTermination"/>
    <operation name="setAutoDisconnectTime">
      <input message="setAutoDisconnectTimeRequest"/>
    </operation>
    <operation name="setIdleDisconnectTime">
      <input message="setIdleDisconnectTimeRequest"/>
    </operation>
    <operation name="setWarnDisconnectDelay">
      <input message="setWarnDisconnectDelayRequest"/>
    </operation>
    <operation name="getStatusInfo">
      <output message="getStatusInfoResponse"/>
    </operation>
    <operation name="getAutoDisconnectTime">
      <output message="getAutoDisconnectTimeResponse"/>
    </operation>
    <operation name="getIdleDisconnectTime">
      <output message="getIdleDisconnectTimeResponse"/>
    </operation>
    <operation name="getWarnDisconnectDelay">
      <output message="getWarnDisconnectDelayResponse"/>
    </operation>
    <operation name="getNATRSIPStatus">
      <output message="getNATRSIPStatusResponse"/>
    </operation>
    <operation name="getGenericPortMappingEntry">
      <input message="getGenericPortMappingEntryRequest"/>
      <output message="getGenericPortMappingEntryResponse"/>
    </operation>
    <operation name="getSpecificPortMappingEntry">
      <input message="getSpecificPortMappingEntryRequest"/>
      <output message="getSpecificPortMappingEntryResponse"/>
    </operation>
    <operation name="addPortMapping">
      <input message="addPortMappingRequest"/>
    </operation>
    <operation name="deletePortMapping">
      <input message="deletePortMappingRequest"/>
    </operation>
    <operation name="getExternalIPAddress">
      <output message="getExternalIPAddressResponse"/>
    </operation>
    <operation name="getExternalIPv6Address">
      <output message="getExternalIPv6AddressResponse"/>
    </operation>
    <operation name="getIPv6Prefix">
      <output message="getIPv6PrefixResponse"/>
    </operation>
    <operation name="getDNSServer">
      <output message="getDNSServerResponse"/>
    </operation>
    <operation name="getIPv6DNSServer">
      <output message="getIPv6DNSServerResponse"/>
    </operation>
    <operation name="deletePortMappingRange">
      <input message="deletePortMappingRangeRequest"/>
    </operation>
    <operation name="getListOfPortMappings">
      <input message="getListOfPortMappingsRequest"/>
      <output message="getListOfPortMappingsResponse"/>
    </operation>
    <operation name="addAnyPortMapping">
      <input message="addAnyPortMappingRequest"/>
      <output message="addAnyPortMappingResponse"/>
    </operation>
  </portType>
  <message name="setConnectionTypeRequest">
    <part type="xsd:string" name="NewConnectionType"/>
  </message>
  <message name="getConnectionTypeInfoResponse">
    <part type="xsd:string" name="NewConnectionType"/>
    <part type="xsd:string" name="NewPossibleConnectionTypes"/>
  </message>
  <message name="setAutoDisconnectTimeRequest">
    <part type="xsd:unsignedInt" name="NewAutoDisconnectTime"/>
  </message>
  <message name="setIdleDisconnectTimeRequest">
    <part type="xsd:unsignedInt" name="NewIdleDisconnectTime"/>
  </message>
  <message name="setWarnDisconnectDelayRequest">
    <part type="xsd:unsignedInt" name="NewWarnDisconnectDelay"/>
  </message>
  <message name="getStatusInfoResponse">
    <part type="xsd:string" name="NewConnectionStatus"/>
    <part type="xsd:string" name="NewLastConnectionError"/>
    <part type="xsd:unsignedInt" name="NewUptime"/>
  </message>
  <message name="getAutoDisconnectTimeResponse">
    <part type="xsd:unsignedInt" name="NewAutoDisconnectTime"/>
  </message>
  <message name="getIdleDisconnectTimeResponse">
    <part type="xsd:unsignedInt" name="NewIdleDisconnectTime"/>
  </message>
  <message name="getWarnDisconnectDelayResponse">
    <part type="xsd:unsignedInt" name="NewWarnDisconnectDelay"/>
  </message>
  <message name="getNATRSIPStatusResponse">
    <part type="xsd:boolean" name="NewRSIPAvailable"/>
    <part type="xsd:boolean" name="NewNATEnabled"/>
  </message>
  <message name="getGenericPortMappingEntryRequest">
    <part type="xsd:unsignedShort" name="NewPortMappingIndex"/>
  </message>
  <message name="getGenericPortMappingEntryResponse">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="getSpecificPortMappingEntryRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
  </message>
  <message name="getSpecificPortMappingEntryResponse">
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="addPortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="deletePortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
  </message>
  <message name="getExternalIPAddressResponse">
    <part type="xsd:string" name="NewExternalIPAddress"/>
  </message>
  <message name="getExternalIPv6AddressResponse">
    <part type="xsd:string" name="NewExternalIPv6Address"/>
    <part type="xsd:unsignedByte" name="NewPrefixLength"/>
    <part type="xsd:unsignedInt" name="NewValidLifetime"/>
    <part type="xsd:unsignedInt" name="NewPreferedLifetime"/>
  </message>
  <message name="getIPv6PrefixResponse">
    <part type="xsd:string" name="NewIPv6Prefix"/>
    <part type="xsd:unsignedByte" name="NewPrefixLength"/>
    <part type="xsd:unsignedInt" name="NewValidLifetime"/>
    <part type="xsd:unsignedInt" name="NewPreferedLifetime"/>
  </message>
  <message name="getDNSServerResponse">
    <part type="xsd:string" name="NewIPv4DNSServer1"/>
    <part type="xsd:string" name="NewIPv4DNSServer2"/>
  </message>
  <message name="getIPv6DNSServerResponse">
    <part type="xsd:string" name="NewIPv6DNSServer1"/>
    <part type="xsd:unsignedInt" name="NewValidLifetime1"/>
    <part type="xsd:string" name="NewIPv6DNSServer2"/>
    <part type="xsd:unsignedInt" name="NewValidLifetime"/>
  </message>
  <message name="deletePortMappingRangeRequest">
    <part type="xsd:unsignedShort" name="NewStartPort"/>
    <part type="xsd:unsignedShort" name="NewEndPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:boolean" name="NewManage"/>
  </message>
  <message name="getListOfPortMappingsRequest">
    <part type="xsd:unsignedShort" name="NewStartPort"/>
    <part type="xsd:unsignedShort" name="NewEndPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:boolean" name="NewManage"/>
    <part type="xsd:unsignedShort" name="NewNumberOfPorts"/>
  </message>
  <message name="getListOfPortMappingsResponse">
    <part type="xsd:string" name="NewPortListing"/>
  </message>
  <message name="addAnyPortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="addAnyPortMappingResponse">
    <part type="xsd:unsignedShort" name="NewReservedPort"/>
  </message>
</definitions>
