wsdl/igd2desc/WANIPv6FirewallControl.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="WANIPv6FirewallControl">
    <port binding="WANIPv6FirewallControl" name="GetFirewallStatus">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
    <port binding="WANIPv6FirewallControl" name="GetOutboundPinholeTimeout">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
    <port binding="WANIPv6FirewallControl" name="AddPinhole">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
    <port binding="WANIPv6FirewallControl" name="UpdatePinhole">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
    <port binding="WANIPv6FirewallControl" name="DeletePinhole">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
    <port binding="WANIPv6FirewallControl" name="GetPinholePackets">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
    <port binding="WANIPv6FirewallControl" name="CheckPinholeWorking">
      <soap:address location="http://fritz.box:49000/igd2upnp/control/WANIPv6Firewall1"/>
    </port>
  </service>
  <binding name="WANIPv6FirewallControl" type="WANIPv6FirewallControl">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetFirewallStatus">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#GetFirewallStatus"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetOutboundPinholeTimeout">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#GetOutboundPinholeTimeout"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="AddPinhole">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#AddPinhole"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="UpdatePinhole">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#UpdatePinhole"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="DeletePinhole">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#DeletePinhole"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetPinholePackets">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#GetPinholePackets"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="CheckPinholeWorking">
      <soap:operation soapAction="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1#CheckPinholeWorking"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:WANIPv6FirewallControl:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="WANIPv6FirewallControl">
    <operation name="GetFirewallStatus">
      <input message="GetFirewallStatusRequest"/>
      <output message="GetFirewallStatusResponse"/>
    </operation>
    <operation name="GetOutboundPinholeTimeout">
      <input message="GetOutboundPinholeTimeoutRequest"/>
      <output message="GetOutboundPinholeTimeoutResponse"/>
    </operation>
    <operation name="AddPinhole">
      <input message="AddPinholeRequest"/>
      <output message="AddPinholeResponse"/>
    </operation>
    <operation name="UpdatePinhole">
      <input message="UpdatePinholeRequest"/>
      <output message="UpdatePinholeResponse"/>
    </operation>
    <operation name="DeletePinhole">
      <input message="DeletePinholeRequest"/>
      <output message="DeletePinholeResponse"/>
    </operation>
    <operation name="GetPinholePackets">
      <input message="GetPinholePacketsRequest"/>
      <output message="GetPinholePacketsResponse"/>
    </operation>
    <operation name="CheckPinholeWorking">
      <input message="CheckPinholeWorkingRequest"/>
      <output message="CheckPinholeWorkingResponse"/>
    </operation>
  </portType>
  <message name="GetFirewallStatusRequest"/>
  <message name="GetFirewallStatusResponse">
    <part name="FirewallEnabled"/>
    <part name="InboundPinholeAllowed"/>
  </message>
  <message name="GetOutboundPinholeTimeoutRequest">
    <part type="xsd:string" name="RemoteHost"/>
    <part type="xsd:unsignedShort" name="RemotePort"/>
    <part type="xsd:string" name="InternalClient"/>
    <part type="xsd:unsignedShort" name="InternalPort"/>
    <part type="xsd:unsignedShort" name="Protocol"/>
  </message>
  <message name="GetOutboundPinholeTimeoutResponse">
    <part type="xsd:unsignedInt" name="OutboundPinholeTimeout"/>
  </message>
  <message name="AddPinholeRequest">
    <part type="xsd:string" name="RemoteHost"/>
    <part type="xsd:unsignedShort" name="RemotePort"/>
    <part type="xsd:string" name="InternalClient"/>
    <part type="xsd:unsignedShort" name="InternalPort"/>
    <part type="xsd:unsignedShort" name="Protocol"/>
    <part type="xsd:unsignedInt" name="LeaseTime"/>
  </message>
  <message name="AddPinholeResponse">
    <part type="xsd:unsignedShort" name="UniqueID"/>
  </message>
  <message name="UpdatePinholeRequest">
    <part type="xsd:unsignedShort" name="UniqueID"/>
    <part type="xsd:unsignedInt" name="NewLeaseTime"/>
  </message>
  <message name="UpdatePinholeResponse"/>
  <message name="DeletePinholeRequest">
    <part type="xsd:unsignedShort" name="UniqueID"/>
  </message>
  <message name="DeletePinholeResponse"/>
  <message name="GetPinholePacketsRequest">
    <part type="xsd:unsignedShort" name="UniqueID"/>
  </message>
  <message name="GetPinholePacketsResponse">
    <part type="xsd:unsignedInt" name="PinholePackets"/>
  </message>
  <message name="CheckPinholeWorkingRequest">
    <part type="xsd:unsignedShort" name="UniqueID"/>
  </message>
  <message name="CheckPinholeWorkingResponse">
    <part name="IsWorking"/>
  </message>
</definitions>
