wsdl/tr64desc/Hosts.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="Hosts">
    <port binding="Hosts" name="GetHostNumberOfEntries">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="GetSpecificHostEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="GetGenericHostEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_GetChangeCounter">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_SetHostNameByMACAddress">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_GetAutoWakeOnLANByMACAddress">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_SetAutoWakeOnLANByMACAddress">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_WakeOnLANByMACAddress">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_GetSpecificHostEntryByIP">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_HostsCheckUpdate">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_HostDoUpdate">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_GetHostListPath">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
    <port binding="Hosts" name="X_AVM-DE_GetMeshListPath">
      <soap:address location="http://fritz.box:49000/upnp/control/hosts"/>
    </port>
  </service>
  <binding name="Hosts" type="Hosts">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetHostNumberOfEntries">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#GetHostNumberOfEntries"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSpecificHostEntry">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#GetSpecificHostEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetGenericHostEntry">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#GetGenericHostEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetChangeCounter">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_GetChangeCounter"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetHostNameByMACAddress">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_SetHostNameByMACAddress"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetAutoWakeOnLANByMACAddress">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_GetAutoWakeOnLANByMACAddress"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetAutoWakeOnLANByMACAddress">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_SetAutoWakeOnLANByMACAddress"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_WakeOnLANByMACAddress">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_WakeOnLANByMACAddress"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetSpecificHostEntryByIP">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_GetSpecificHostEntryByIP"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_HostsCheckUpdate">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_HostsCheckUpdate"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_HostDoUpdate">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_HostDoUpdate"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetHostListPath">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_GetHostListPath"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetMeshListPath">
      <soap:operation soapAction="urn:dslforum-org:service:Hosts:1#X_AVM-DE_GetMeshListPath"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Hosts:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="Hosts">
    <operation name="GetHostNumberOfEntries">
      <input message="GetHostNumberOfEntriesRequest"/>
      <output message="GetHostNumberOfEntriesResponse"/>
    </operation>
    <operation name="GetSpecificHostEntry">
      <input message="GetSpecificHostEntryRequest"/>
      <output message="GetSpecificHostEntryResponse"/>
    </operation>
    <operation name="GetGenericHostEntry">
      <input message="GetGenericHostEntryRequest"/>
      <output message="GetGenericHostEntryResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetChangeCounter">
      <input message="X_AVM-DE_GetChangeCounterRequest"/>
      <output message="X_AVM-DE_GetChangeCounterResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetHostNameByMACAddress">
      <input message="X_AVM-DE_SetHostNameByMACAddressRequest"/>
      <output message="X_AVM-DE_SetHostNameByMACAddressResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetAutoWakeOnLANByMACAddress">
      <input message="X_AVM-DE_GetAutoWakeOnLANByMACAddressRequest"/>
      <output message="X_AVM-DE_GetAutoWakeOnLANByMACAddressResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetAutoWakeOnLANByMACAddress">
      <input message="X_AVM-DE_SetAutoWakeOnLANByMACAddressRequest"/>
      <output message="X_AVM-DE_SetAutoWakeOnLANByMACAddressResponse"/>
    </operation>
    <operation name="X_AVM_DE_WakeOnLANByMACAddress">
      <input message="X_AVM-DE_WakeOnLANByMACAddressRequest"/>
      <output message="X_AVM-DE_WakeOnLANByMACAddressResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetSpecificHostEntryByIP">
      <input message="X_AVM-DE_GetSpecificHostEntryByIPRequest"/>
      <output message="X_AVM-DE_GetSpecificHostEntryByIPResponse"/>
    </operation>
    <operation name="X_AVM_DE_HostsCheckUpdate">
      <input message="X_AVM-DE_HostsCheckUpdateRequest"/>
      <output message="X_AVM-DE_HostsCheckUpdateResponse"/>
    </operation>
    <operation name="X_AVM_DE_HostDoUpdate">
      <input message="X_AVM-DE_HostDoUpdateRequest"/>
      <output message="X_AVM-DE_HostDoUpdateResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetHostListPath">
      <input message="X_AVM-DE_GetHostListPathRequest"/>
      <output message="X_AVM-DE_GetHostListPathResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetMeshListPath">
      <input message="X_AVM-DE_GetMeshListPathRequest"/>
      <output message="X_AVM-DE_GetMeshListPathResponse"/>
    </operation>
  </portType>
  <message name="GetHostNumberOfEntriesRequest"/>
  <message name="GetHostNumberOfEntriesResponse">
    <part type="xsd:unsignedShort" name="NewHostNumberOfEntries"/>
  </message>
  <message name="GetSpecificHostEntryRequest">
    <part type="xsd:string" name="NewMACAddress"/>
  </message>
  <message name="GetSpecificHostEntryResponse">
    <part type="xsd:string" name="NewIPAddress"/>
    <part type="xsd:string" name="NewAddressSource"/>
    <part name="NewLeaseTimeRemaining"/>
    <part type="xsd:string" name="NewInterfaceType"/>
    <part name="NewActive"/>
    <part type="xsd:string" name="NewHostName"/>
  </message>
  <message name="GetGenericHostEntryRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="GetGenericHostEntryResponse">
    <part type="xsd:string" name="NewIPAddress"/>
    <part type="xsd:string" name="NewAddressSource"/>
    <part name="NewLeaseTimeRemaining"/>
    <part type="xsd:string" name="NewMACAddress"/>
    <part type="xsd:string" name="NewInterfaceType"/>
    <part name="NewActive"/>
    <part type="xsd:string" name="NewHostName"/>
  </message>
  <message name="X_AVM-DE_GetChangeCounterRequest"/>
  <message name="X_AVM-DE_GetChangeCounterResponse">
    <part type="xsd:unsignedInt" name="NewX_AVM-DE_ChangeCounter"/>
  </message>
  <message name="X_AVM-DE_SetHostNameByMACAddressRequest">
    <part type="xsd:string" name="NewMACAddress"/>
    <part type="xsd:string" name="NewHostName"/>
  </message>
  <message name="X_AVM-DE_SetHostNameByMACAddressResponse"/>
  <message name="X_AVM-DE_GetAutoWakeOnLANByMACAddressRequest">
    <part type="xsd:string" name="NewMACAddress"/>
  </message>
  <message name="X_AVM-DE_GetAutoWakeOnLANByMACAddressResponse">
    <part name="NewAutoWOLEnabled"/>
  </message>
  <message name="X_AVM-DE_SetAutoWakeOnLANByMACAddressRequest">
    <part type="xsd:string" name="NewMACAddress"/>
    <part name="NewAutoWOLEnabled"/>
  </message>
  <message name="X_AVM-DE_SetAutoWakeOnLANByMACAddressResponse"/>
  <message name="X_AVM-DE_WakeOnLANByMACAddressRequest">
    <part type="xsd:string" name="NewMACAddress"/>
  </message>
  <message name="X_AVM-DE_WakeOnLANByMACAddressResponse"/>
  <message name="X_AVM-DE_GetSpecificHostEntryByIPRequest">
    <part type="xsd:string" name="NewIPAddress"/>
  </message>
  <message name="X_AVM-DE_GetSpecificHostEntryByIPResponse">
    <part type="xsd:string" name="NewMACAddress"/>
    <part name="NewActive"/>
    <part type="xsd:string" name="NewHostName"/>
    <part type="xsd:string" name="NewInterfaceType"/>
    <part type="xsd:unsignedInt" name="NewX_AVM-DE_Port"/>
    <part type="xsd:unsignedInt" name="NewX_AVM-DE_Speed"/>
    <part name="NewX_AVM-DE_UpdateAvailable"/>
    <part type="xsd:string" name="NewX_AVM-DE_UpdateSuccessful"/>
    <part type="xsd:string" name="NewX_AVM-DE_InfoURL"/>
    <part type="xsd:string" name="NewX_AVM-DE_Model"/>
    <part type="xsd:string" name="NewX_AVM-DE_URL"/>
  </message>
  <message name="X_AVM-DE_HostsCheckUpdateRequest"/>
  <message name="X_AVM-DE_HostsCheckUpdateResponse"/>
  <message name="X_AVM-DE_HostDoUpdateRequest">
    <part type="xsd:string" name="NewMACAddress"/>
  </message>
  <message name="X_AVM-DE_HostDoUpdateResponse"/>
  <message name="X_AVM-DE_GetHostListPathRequest"/>
  <message name="X_AVM-DE_GetHostListPathResponse">
    <part type="xsd:string" name="NewX_AVM-DE_HostListPath"/>
  </message>
  <message name="X_AVM-DE_GetMeshListPathRequest"/>
  <message name="X_AVM-DE_GetMeshListPathResponse">
    <part type="xsd:string" name="NewX_AVM-DE_MeshListPath"/>
  </message>
</definitions>
