wsdl/tr64desc/Layer3Forwarding.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="Layer3Forwarding">
    <port binding="Layer3Forwarding" name="SetDefaultConnectionService">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="GetDefaultConnectionService">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="GetForwardNumberOfEntries">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="AddForwardingEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="DeleteForwardingEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="GetSpecificForwardingEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="GetGenericForwardingEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
    <port binding="Layer3Forwarding" name="SetForwardingEntryEnable">
      <soap:address location="http://fritz.box:49000/upnp/control/layer3forwarding"/>
    </port>
  </service>
  <binding name="Layer3Forwarding" type="Layer3Forwarding">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SetDefaultConnectionService">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#SetDefaultConnectionService"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetDefaultConnectionService">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#GetDefaultConnectionService"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetForwardNumberOfEntries">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#GetForwardNumberOfEntries"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="AddForwardingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#AddForwardingEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="DeleteForwardingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#DeleteForwardingEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSpecificForwardingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#GetSpecificForwardingEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetGenericForwardingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#GetGenericForwardingEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetForwardingEntryEnable">
      <soap:operation soapAction="urn:dslforum-org:service:Layer3Forwarding:1#SetForwardingEntryEnable"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Layer3Forwarding:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="Layer3Forwarding">
    <operation name="SetDefaultConnectionService">
      <input message="SetDefaultConnectionServiceRequest"/>
      <output message="SetDefaultConnectionServiceResponse"/>
    </operation>
    <operation name="GetDefaultConnectionService">
      <input message="GetDefaultConnectionServiceRequest"/>
      <output message="GetDefaultConnectionServiceResponse"/>
    </operation>
    <operation name="GetForwardNumberOfEntries">
      <input message="GetForwardNumberOfEntriesRequest"/>
      <output message="GetForwardNumberOfEntriesResponse"/>
    </operation>
    <operation name="AddForwardingEntry">
      <input message="AddForwardingEntryRequest"/>
      <output message="AddForwardingEntryResponse"/>
    </operation>
    <operation name="DeleteForwardingEntry">
      <input message="DeleteForwardingEntryRequest"/>
      <output message="DeleteForwardingEntryResponse"/>
    </operation>
    <operation name="GetSpecificForwardingEntry">
      <input message="GetSpecificForwardingEntryRequest"/>
      <output message="GetSpecificForwardingEntryResponse"/>
    </operation>
    <operation name="GetGenericForwardingEntry">
      <input message="GetGenericForwardingEntryRequest"/>
      <output message="GetGenericForwardingEntryResponse"/>
    </operation>
    <operation name="SetForwardingEntryEnable">
      <input message="SetForwardingEntryEnableRequest"/>
      <output message="SetForwardingEntryEnableResponse"/>
    </operation>
  </portType>
  <message name="SetDefaultConnectionServiceRequest">
    <part type="xsd:string" name="NewDefaultConnectionService"/>
  </message>
  <message name="SetDefaultConnectionServiceResponse"/>
  <message name="GetDefaultConnectionServiceRequest"/>
  <message name="GetDefaultConnectionServiceResponse">
    <part type="xsd:string" name="NewDefaultConnectionService"/>
  </message>
  <message name="GetForwardNumberOfEntriesRequest"/>
  <message name="GetForwardNumberOfEntriesResponse">
    <part type="xsd:unsignedShort" name="NewForwardNumberOfEntries"/>
  </message>
  <message name="AddForwardingEntryRequest">
    <part type="xsd:string" name="NewType"/>
    <part type="xsd:string" name="NewDestIPAddress"/>
    <part type="xsd:string" name="NewDestSubnetMask"/>
    <part type="xsd:string" name="NewSourceIPAddress"/>
    <part type="xsd:string" name="NewSourceSubnetMask"/>
    <part type="xsd:string" name="NewGatewayIPAddress"/>
    <part type="xsd:string" name="NewInterface"/>
    <part name="NewForwardingMetric"/>
  </message>
  <message name="AddForwardingEntryResponse"/>
  <message name="DeleteForwardingEntryRequest">
    <part type="xsd:string" name="NewDestIPAddress"/>
    <part type="xsd:string" name="NewDestSubnetMask"/>
    <part type="xsd:string" name="NewSourceIPAddress"/>
    <part type="xsd:string" name="NewSourceSubnetMask"/>
  </message>
  <message name="DeleteForwardingEntryResponse"/>
  <message name="GetSpecificForwardingEntryRequest">
    <part type="xsd:string" name="NewDestIPAddress"/>
    <part type="xsd:string" name="NewDestSubnetMask"/>
    <part type="xsd:string" name="NewSourceIPAddress"/>
    <part type="xsd:string" name="NewSourceSubnetMask"/>
  </message>
  <message name="GetSpecificForwardingEntryResponse">
    <part type="xsd:string" name="NewGatewayIPAddress"/>
    <part name="NewEnable"/>
    <part type="xsd:string" name="NewStatus"/>
    <part type="xsd:string" name="NewType"/>
    <part type="xsd:string" name="NewInterface"/>
    <part name="NewForwardingMetric"/>
  </message>
  <message name="GetGenericForwardingEntryRequest">
    <part type="xsd:unsignedShort" name="NewForwardingIndex"/>
  </message>
  <message name="GetGenericForwardingEntryResponse">
    <part name="NewEnable"/>
    <part type="xsd:string" name="NewStatus"/>
    <part type="xsd:string" name="NewType"/>
    <part type="xsd:string" name="NewDestIPAddress"/>
    <part type="xsd:string" name="NewDestSubnetMask"/>
    <part type="xsd:string" name="NewSourceIPAddress"/>
    <part type="xsd:string" name="NewSourceSubnetMask"/>
    <part type="xsd:string" name="NewGatewayIPAddress"/>
    <part type="xsd:string" name="NewInterface"/>
    <part name="NewForwardingMetric"/>
  </message>
  <message name="SetForwardingEntryEnableRequest">
    <part type="xsd:string" name="NewDestIPAddress"/>
    <part type="xsd:string" name="NewDestSubnetMask"/>
    <part type="xsd:string" name="NewSourceIPAddress"/>
    <part type="xsd:string" name="NewSourceSubnetMask"/>
    <part name="NewEnable"/>
  </message>
  <message name="SetForwardingEntryEnableResponse"/>
</definitions>
