wsdl/tr64desc/WANDSLInterfaceConfig.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="WANDSLInterfaceConfig">
    <port binding="WANDSLInterfaceConfig" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wandslifconfig1"/>
    </port>
    <port binding="WANDSLInterfaceConfig" name="GetStatisticsTotal">
      <soap:address location="http://fritz.box:49000/upnp/control/wandslifconfig1"/>
    </port>
    <port binding="WANDSLInterfaceConfig" name="X_AVM-DE_GetDSLDiagnoseInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wandslifconfig1"/>
    </port>
    <port binding="WANDSLInterfaceConfig" name="X_AVM-DE_GetDSLInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wandslifconfig1"/>
    </port>
  </service>
  <binding name="WANDSLInterfaceConfig" type="WANDSLInterfaceConfig">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANDSLInterfaceConfig:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetStatisticsTotal">
      <soap:operation soapAction="urn:dslforum-org:service:WANDSLInterfaceConfig:1#GetStatisticsTotal"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetDSLDiagnoseInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANDSLInterfaceConfig:1#X_AVM-DE_GetDSLDiagnoseInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetDSLInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANDSLInterfaceConfig:1#X_AVM-DE_GetDSLInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="WANDSLInterfaceConfig">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetStatisticsTotal">
      <input message="GetStatisticsTotalRequest"/>
      <output message="GetStatisticsTotalResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetDSLDiagnoseInfo">
      <input message="X_AVM-DE_GetDSLDiagnoseInfoRequest"/>
      <output message="X_AVM-DE_GetDSLDiagnoseInfoResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetDSLInfo">
      <input message="X_AVM-DE_GetDSLInfoRequest"/>
      <output message="X_AVM-DE_GetDSLInfoResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part name="NewEnable"/>
    <part type="xsd:string" name="NewStatus"/>
    <part type="xsd:string" name="NewDataPath"/>
    <part name="NewUpstreamCurrRate"/>
    <part type="xsd:unsignedInt" name="NewDownstreamCurrRate"/>
    <part type="xsd:unsignedInt" name="NewUpstreamMaxRate"/>
    <part type="xsd:unsignedInt" name="NewDownstreamMaxRate"/>
    <part type="xsd:unsignedInt" name="NewUpstreamNoiseMargin"/>
    <part type="xsd:unsignedInt" name="NewDownstreamNoiseMargin"/>
    <part type="xsd:unsignedInt" name="NewUpstreamAttenuation"/>
    <part type="xsd:unsignedInt" name="NewDownstreamAttenuation"/>
    <part type="xsd:string" name="NewATURVendor"/>
    <part type="xsd:string" name="NewATURCountry"/>
    <part type="xsd:unsignedShort" name="NewUpstreamPower"/>
    <part type="xsd:unsignedShort" name="NewDownstreamPower"/>
  </message>
  <message name="GetStatisticsTotalRequest"/>
  <message name="GetStatisticsTotalResponse">
    <part type="xsd:unsignedInt" name="NewReceiveBlocks"/>
    <part type="xsd:unsignedInt" name="NewTransmitBlocks"/>
    <part type="xsd:unsignedInt" name="NewCellDelin"/>
    <part type="xsd:unsignedInt" name="NewLinkRetrain"/>
    <part type="xsd:unsignedInt" name="NewInitErrors"/>
    <part type="xsd:unsignedInt" name="NewInitTimeouts"/>
    <part type="xsd:unsignedInt" name="NewLossOfFraming"/>
    <part type="xsd:unsignedInt" name="NewErroredSecs"/>
    <part type="xsd:unsignedInt" name="NewSeverelyErroredSecs"/>
    <part type="xsd:unsignedInt" name="NewFECErrors"/>
    <part type="xsd:unsignedInt" name="NewATUCFECErrors"/>
    <part type="xsd:unsignedInt" name="NewHECErrors"/>
    <part type="xsd:unsignedInt" name="NewATUCHECErrors"/>
    <part type="xsd:unsignedInt" name="NewCRCErrors"/>
    <part type="xsd:unsignedInt" name="NewATUCCRCErrors"/>
  </message>
  <message name="X_AVM-DE_GetDSLDiagnoseInfoRequest"/>
  <message name="X_AVM-DE_GetDSLDiagnoseInfoResponse">
    <part type="xsd:string" name="NewX_AVM-DE_DSLDiagnoseState"/>
    <part name="NewX_AVM-DE_CableNokDistance"/>
    <part type="xsd:unsignedInt" name="NewX_AVM-DE_DSLLastDiagnoseTime"/>
    <part type="xsd:unsignedInt" name="NewX_AVM-DE_DSLSignalLossTime"/>
    <part name="NewX_AVM-DE_DSLActive"/>
    <part name="NewX_AVM-DE_DSLSync"/>
  </message>
  <message name="X_AVM-DE_GetDSLInfoRequest"/>
  <message name="X_AVM-DE_GetDSLInfoResponse">
    <part type="xsd:unsignedInt" name="NewSNRGds"/>
    <part type="xsd:unsignedInt" name="NewSNRGus"/>
    <part type="xsd:string" name="NewSNRpsds"/>
    <part type="xsd:string" name="NewSNRpsus"/>
    <part type="xsd:unsignedInt" name="NewSNRMTds"/>
    <part type="xsd:unsignedInt" name="NewSNRMTus"/>
    <part type="xsd:string" name="NewLATNds"/>
    <part type="xsd:string" name="NewLATNus"/>
    <part type="xsd:unsignedInt" name="NewFECErrors"/>
    <part type="xsd:unsignedInt" name="NewCRCErrors"/>
    <part type="xsd:string" name="NewLinkStatus"/>
    <part type="xsd:string" name="NewModulationType"/>
    <part type="xsd:string" name="NewCurrentProfile"/>
    <part name="NewUpstreamCurrRate"/>
    <part type="xsd:unsignedInt" name="NewDownstreamCurrRate"/>
    <part type="xsd:unsignedInt" name="NewUpstreamMaxRate"/>
    <part type="xsd:unsignedInt" name="NewDownstreamMaxRate"/>
    <part type="xsd:unsignedInt" name="NewUpstreamNoiseMargin"/>
    <part type="xsd:unsignedInt" name="NewDownstreamNoiseMargin"/>
    <part type="xsd:unsignedInt" name="NewUpstreamAttenuation"/>
    <part type="xsd:unsignedInt" name="NewDownstreamAttenuation"/>
    <part type="xsd:string" name="NewATURVendor"/>
    <part type="xsd:string" name="NewATURCountry"/>
    <part type="xsd:unsignedShort" name="NewUpstreamPower"/>
    <part type="xsd:unsignedShort" name="NewDownstreamPower"/>
  </message>
</definitions>
