wsdl/tr64desc/WANIPConnection.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="WANIPConnection">
    <port binding="WANIPConnection" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetConnectionTypeInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="SetConnectionType">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetStatusInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetNATRSIPStatus">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="SetConnectionTrigger">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="ForceTermination">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="RequestConnection">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetGenericPortMappingEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetSpecificPortMappingEntry">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="AddPortMapping">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="DeletePortMapping">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetExternalIPAddress">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="X_GetDNSServers">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="GetPortMappingNumberOfEntries">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="SetRouteProtocolRx">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
    <port binding="WANIPConnection" name="SetIdleDisconnectTime">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
  </service>
  <binding name="WANIPConnection" type="WANIPConnection">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetConnectionTypeInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetConnectionTypeInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConnectionType">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetConnectionType"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetStatusInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetStatusInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetNATRSIPStatus">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetNATRSIPStatus"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConnectionTrigger">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetConnectionTrigger"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="ForceTermination">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#ForceTermination"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="RequestConnection">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#RequestConnection"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetGenericPortMappingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetGenericPortMappingEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSpecificPortMappingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetSpecificPortMappingEntry"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="AddPortMapping">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#AddPortMapping"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="DeletePortMapping">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#DeletePortMapping"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetExternalIPAddress">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetExternalIPAddress"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_GetDNSServers">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#X_GetDNSServers"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetPortMappingNumberOfEntries">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetPortMappingNumberOfEntries"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetRouteProtocolRx">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetRouteProtocolRx"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetIdleDisconnectTime">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetIdleDisconnectTime"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANIPConnection:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="WANIPConnection">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetConnectionTypeInfo">
      <input message="GetConnectionTypeInfoRequest"/>
      <output message="GetConnectionTypeInfoResponse"/>
    </operation>
    <operation name="SetConnectionType">
      <input message="SetConnectionTypeRequest"/>
      <output message="SetConnectionTypeResponse"/>
    </operation>
    <operation name="GetStatusInfo">
      <input message="GetStatusInfoRequest"/>
      <output message="GetStatusInfoResponse"/>
    </operation>
    <operation name="GetNATRSIPStatus">
      <input message="GetNATRSIPStatusRequest"/>
      <output message="GetNATRSIPStatusResponse"/>
    </operation>
    <operation name="SetConnectionTrigger">
      <input message="SetConnectionTriggerRequest"/>
      <output message="SetConnectionTriggerResponse"/>
    </operation>
    <operation name="ForceTermination">
      <input message="ForceTerminationRequest"/>
      <output message="ForceTerminationResponse"/>
    </operation>
    <operation name="RequestConnection">
      <input message="RequestConnectionRequest"/>
      <output message="RequestConnectionResponse"/>
    </operation>
    <operation name="GetGenericPortMappingEntry">
      <input message="GetGenericPortMappingEntryRequest"/>
      <output message="GetGenericPortMappingEntryResponse"/>
    </operation>
    <operation name="GetSpecificPortMappingEntry">
      <input message="GetSpecificPortMappingEntryRequest"/>
      <output message="GetSpecificPortMappingEntryResponse"/>
    </operation>
    <operation name="AddPortMapping">
      <input message="AddPortMappingRequest"/>
      <output message="AddPortMappingResponse"/>
    </operation>
    <operation name="DeletePortMapping">
      <input message="DeletePortMappingRequest"/>
      <output message="DeletePortMappingResponse"/>
    </operation>
    <operation name="GetExternalIPAddress">
      <input message="GetExternalIPAddressRequest"/>
      <output message="GetExternalIPAddressResponse"/>
    </operation>
    <operation name="X_GetDNSServers">
      <input message="X_GetDNSServersRequest"/>
      <output message="X_GetDNSServersResponse"/>
    </operation>
    <operation name="GetPortMappingNumberOfEntries">
      <input message="GetPortMappingNumberOfEntriesRequest"/>
      <output message="GetPortMappingNumberOfEntriesResponse"/>
    </operation>
    <operation name="SetRouteProtocolRx">
      <input message="SetRouteProtocolRxRequest"/>
      <output message="SetRouteProtocolRxResponse"/>
    </operation>
    <operation name="SetIdleDisconnectTime">
      <input message="SetIdleDisconnectTimeRequest"/>
      <output message="SetIdleDisconnectTimeResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part name="NewEnable"/>
    <part type="xsd:string" name="NewConnectionStatus"/>
    <part type="xsd:string" name="NewPossibleConnectionTypes"/>
    <part type="xsd:string" name="NewConnectionType"/>
    <part type="xsd:string" name="NewName"/>
    <part type="xsd:unsignedInt" name="NewUptime"/>
    <part type="xsd:string" name="NewLastConnectionError"/>
    <part name="NewRSIPAvailable"/>
    <part name="NewNATEnabled"/>
    <part type="xsd:string" name="NewExternalIPAddress"/>
    <part type="xsd:string" name="NewDNSServers"/>
    <part type="xsd:string" name="NewMACAddress"/>
    <part type="xsd:string" name="NewConnectionTrigger"/>
    <part type="xsd:string" name="NewRouteProtocolRx"/>
    <part name="NewDNSEnabled"/>
    <part name="NewDNSOverrideAllowed"/>
  </message>
  <message name="GetConnectionTypeInfoRequest"/>
  <message name="GetConnectionTypeInfoResponse">
    <part type="xsd:string" name="NewConnectionType"/>
    <part type="xsd:string" name="NewPossibleConnectionTypes"/>
  </message>
  <message name="SetConnectionTypeRequest">
    <part type="xsd:string" name="NewConnectionType"/>
  </message>
  <message name="SetConnectionTypeResponse"/>
  <message name="GetStatusInfoRequest"/>
  <message name="GetStatusInfoResponse">
    <part type="xsd:string" name="NewConnectionStatus"/>
    <part type="xsd:string" name="NewLastConnectionError"/>
    <part type="xsd:unsignedInt" name="NewUptime"/>
  </message>
  <message name="GetNATRSIPStatusRequest"/>
  <message name="GetNATRSIPStatusResponse">
    <part name="NewRSIPAvailable"/>
    <part name="NewNATEnabled"/>
  </message>
  <message name="SetConnectionTriggerRequest">
    <part type="xsd:string" name="NewConnectionTrigger"/>
  </message>
  <message name="SetConnectionTriggerResponse"/>
  <message name="ForceTerminationRequest"/>
  <message name="ForceTerminationResponse"/>
  <message name="RequestConnectionRequest"/>
  <message name="RequestConnectionResponse"/>
  <message name="GetGenericPortMappingEntryRequest">
    <part type="xsd:unsignedShort" name="NewPortMappingIndex"/>
  </message>
  <message name="GetGenericPortMappingEntryResponse">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="GetSpecificPortMappingEntryRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
  </message>
  <message name="GetSpecificPortMappingEntryResponse">
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="AddPortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="AddPortMappingResponse"/>
  <message name="DeletePortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
  </message>
  <message name="DeletePortMappingResponse"/>
  <message name="GetExternalIPAddressRequest"/>
  <message name="GetExternalIPAddressResponse">
    <part type="xsd:string" name="NewExternalIPAddress"/>
  </message>
  <message name="X_GetDNSServersRequest"/>
  <message name="X_GetDNSServersResponse">
    <part type="xsd:string" name="NewDNSServers"/>
  </message>
  <message name="GetPortMappingNumberOfEntriesRequest"/>
  <message name="GetPortMappingNumberOfEntriesResponse">
    <part type="xsd:unsignedShort" name="NewPortMappingNumberOfEntries"/>
  </message>
  <message name="SetRouteProtocolRxRequest">
    <part type="xsd:string" name="NewRouteProtocolRx"/>
  </message>
  <message name="SetRouteProtocolRxResponse"/>
  <message name="SetIdleDisconnectTimeRequest">
    <part type="xsd:unsignedInt" name="NewIdleDisconnectTime"/>
  </message>
  <message name="SetIdleDisconnectTimeResponse"/>
</definitions>
