wsdl/tr64desc/X_AVM-DE_RemoteAccess.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_RemoteAccess">
    <port binding="X_AVM-DE_RemoteAccess" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_remote"/>
    </port>
    <port binding="X_AVM-DE_RemoteAccess" name="SetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_remote"/>
    </port>
    <port binding="X_AVM-DE_RemoteAccess" name="SetEnable">
      <soap:address location="http://fritz.box:49000/upnp/control/x_remote"/>
    </port>
    <port binding="X_AVM-DE_RemoteAccess" name="GetDDNSInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_remote"/>
    </port>
    <port binding="X_AVM-DE_RemoteAccess" name="GetDDNSProviders">
      <soap:address location="http://fritz.box:49000/upnp/control/x_remote"/>
    </port>
    <port binding="X_AVM-DE_RemoteAccess" name="SetDDNSConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_remote"/>
    </port>
  </service>
  <binding name="X_AVM-DE_RemoteAccess" type="X_AVM-DE_RemoteAccess">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1#SetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetEnable">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1#SetEnable"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetDDNSInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1#GetDDNSInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetDDNSProviders">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1#GetDDNSProviders"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetDDNSConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1#SetDDNSConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_RemoteAccess:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_RemoteAccess">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetConfig">
      <input message="SetConfigRequest"/>
      <output message="SetConfigResponse"/>
    </operation>
    <operation name="SetEnable">
      <input message="SetEnableRequest"/>
      <output message="SetEnableResponse"/>
    </operation>
    <operation name="GetDDNSInfo">
      <input message="GetDDNSInfoRequest"/>
      <output message="GetDDNSInfoResponse"/>
    </operation>
    <operation name="GetDDNSProviders">
      <input message="GetDDNSProvidersRequest"/>
      <output message="GetDDNSProvidersResponse"/>
    </operation>
    <operation name="SetDDNSConfig">
      <input message="SetDDNSConfigRequest"/>
      <output message="SetDDNSConfigResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewPort"/>
    <part type="xsd:string" name="NewUsername"/>
  </message>
  <message name="SetConfigRequest">
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewPort"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:string" name="NewPassword"/>
  </message>
  <message name="SetConfigResponse"/>
  <message name="SetEnableRequest">
    <part name="NewEnabled"/>
  </message>
  <message name="SetEnableResponse">
    <part type="xsd:string" name="NewPort"/>
  </message>
  <message name="GetDDNSInfoRequest"/>
  <message name="GetDDNSInfoResponse">
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewProviderName"/>
    <part type="xsd:string" name="NewUpdateURL"/>
    <part type="xsd:string" name="NewDomain"/>
    <part type="xsd:string" name="NewStatusIPv4"/>
    <part type="xsd:string" name="NewStatusIPv6"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:string" name="NewMode"/>
    <part type="xsd:string" name="NewServerIPv4"/>
    <part type="xsd:string" name="NewServerIPv6"/>
  </message>
  <message name="GetDDNSProvidersRequest"/>
  <message name="GetDDNSProvidersResponse">
    <part type="xsd:string" name="NewProviderList"/>
  </message>
  <message name="SetDDNSConfigRequest">
    <part name="NewEnabled"/>
    <part type="xsd:string" name="NewProviderName"/>
    <part type="xsd:string" name="NewUpdateURL"/>
    <part type="xsd:string" name="NewDomain"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:string" name="NewMode"/>
    <part type="xsd:string" name="NewServerIPv4"/>
    <part type="xsd:string" name="NewServerIPv6"/>
    <part type="xsd:string" name="NewPassword"/>
  </message>
  <message name="SetDDNSConfigResponse"/>
</definitions>
