wsdl/tr64desc/X_AVM-DE_AppSetup.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_AppSetup">
    <port binding="X_AVM-DE_AppSetup" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="GetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="GetAppMessageFilter">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="RegisterApp">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="SetAppVPN">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="SetAppVPNwithPFS">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="SetAppMessageFilter">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="SetAppMessageReceiver">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="ResetEvent">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
    <port binding="X_AVM-DE_AppSetup" name="GetAppRemoteInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_appsetup"/>
    </port>
  </service>
  <binding name="X_AVM-DE_AppSetup" type="X_AVM-DE_AppSetup">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#GetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetAppMessageFilter">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#GetAppMessageFilter"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="RegisterApp">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#RegisterApp"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetAppVPN">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#SetAppVPN"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetAppVPNwithPFS">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#SetAppVPNwithPFS"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetAppMessageFilter">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#SetAppMessageFilter"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetAppMessageReceiver">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#SetAppMessageReceiver"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="ResetEvent">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#ResetEvent"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetAppRemoteInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_AppSetup:1#GetAppRemoteInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_AppSetup:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_AppSetup">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetConfig">
      <input message="GetConfigRequest"/>
      <output message="GetConfigResponse"/>
    </operation>
    <operation name="GetAppMessageFilter">
      <input message="GetAppMessageFilterRequest"/>
      <output message="GetAppMessageFilterResponse"/>
    </operation>
    <operation name="RegisterApp">
      <input message="RegisterAppRequest"/>
      <output message="RegisterAppResponse"/>
    </operation>
    <operation name="SetAppVPN">
      <input message="SetAppVPNRequest"/>
      <output message="SetAppVPNResponse"/>
    </operation>
    <operation name="SetAppVPNwithPFS">
      <input message="SetAppVPNwithPFSRequest"/>
      <output message="SetAppVPNwithPFSResponse"/>
    </operation>
    <operation name="SetAppMessageFilter">
      <input message="SetAppMessageFilterRequest"/>
      <output message="SetAppMessageFilterResponse"/>
    </operation>
    <operation name="SetAppMessageReceiver">
      <input message="SetAppMessageReceiverRequest"/>
      <output message="SetAppMessageReceiverResponse"/>
    </operation>
    <operation name="ResetEvent">
      <input message="ResetEventRequest"/>
      <output message="ResetEventResponse"/>
    </operation>
    <operation name="GetAppRemoteInfo">
      <input message="GetAppRemoteInfoRequest"/>
      <output message="GetAppRemoteInfoResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:unsignedShort" name="NewMinCharsAppId"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsAppId"/>
    <part type="xsd:string" name="NewAllowedCharsAppId"/>
    <part type="xsd:unsignedShort" name="NewMinCharsAppDisplayName"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsAppDisplayName"/>
    <part type="xsd:unsignedShort" name="NewMinCharsAppUsername"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsAppUsername"/>
    <part type="xsd:string" name="NewAllowedCharsAppUsername"/>
    <part type="xsd:unsignedShort" name="NewMinCharsAppPassword"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsAppPassword"/>
    <part type="xsd:string" name="NewAllowedCharsAppPassword"/>
    <part type="xsd:unsignedShort" name="NewMinCharsIPSecIdentifier"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsIPSecIdentifier"/>
    <part type="xsd:string" name="NewAllowedCharsIPSecIdentifier"/>
    <part type="xsd:string" name="NewAllowedCharsCryptAlgos"/>
    <part type="xsd:string" name="NewAllowedCharsAppAVMAddress"/>
    <part type="xsd:unsignedShort" name="NewMinCharsFilter"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsFilter"/>
    <part type="xsd:string" name="NewAllowedCharsFilter"/>
    <part type="xsd:unsignedShort" name="NewMinCharsIPSecPreSharedKey"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsIPSecPreSharedKey"/>
    <part type="xsd:string" name="NewAllowedCharsIPSecPreSharedKey"/>
    <part type="xsd:unsignedShort" name="NewMinCharsIPSecXauthUsername"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsIPSecXauthUsername"/>
    <part type="xsd:string" name="NewAllowedCharsIPSecXauthUsername"/>
    <part type="xsd:unsignedShort" name="NewMinCharsIPSecXauthPassword"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsIPSecXauthPassword"/>
    <part type="xsd:string" name="NewAllowedCharsIPSecXauthPassword"/>
  </message>
  <message name="GetConfigRequest"/>
  <message name="GetConfigResponse">
    <part type="xsd:string" name="NewConfigRight"/>
    <part type="xsd:string" name="NewAppRight"/>
    <part type="xsd:string" name="NewNasRight"/>
    <part type="xsd:string" name="NewPhoneRight"/>
    <part type="xsd:string" name="NewDialRight"/>
    <part type="xsd:string" name="NewHomeautoRight"/>
    <part name="NewInternetRights"/>
    <part name="NewAccessFromInternet"/>
  </message>
  <message name="GetAppMessageFilterRequest">
    <part type="xsd:string" name="NewAppId"/>
  </message>
  <message name="GetAppMessageFilterResponse">
    <part type="xsd:string" name="NewFilterList"/>
  </message>
  <message name="RegisterAppRequest">
    <part type="xsd:string" name="NewAppId"/>
    <part type="xsd:string" name="NewAppDisplayName"/>
    <part type="xsd:string" name="NewAppDeviceMAC"/>
    <part type="xsd:string" name="NewAppUsername"/>
    <part type="xsd:string" name="NewAppPassword"/>
    <part type="xsd:string" name="NewAppRight"/>
    <part type="xsd:string" name="NewNasRight"/>
    <part type="xsd:string" name="NewPhoneRight"/>
    <part type="xsd:string" name="NewHomeautoRight"/>
    <part name="NewAppInternetRights"/>
  </message>
  <message name="RegisterAppResponse"/>
  <message name="SetAppVPNRequest">
    <part type="xsd:string" name="NewAppId"/>
    <part type="xsd:string" name="NewIPSecIdentifier"/>
    <part type="xsd:string" name="NewIPSecPreSharedKey"/>
    <part type="xsd:string" name="NewIPSecXauthUsername"/>
    <part type="xsd:string" name="NewIPSecXauthPassword"/>
  </message>
  <message name="SetAppVPNResponse"/>
  <message name="SetAppVPNwithPFSRequest">
    <part type="xsd:string" name="NewAppId"/>
    <part type="xsd:string" name="NewIPSecIdentifier"/>
    <part type="xsd:string" name="NewIPSecPreSharedKey"/>
    <part type="xsd:string" name="NewIPSecXauthUsername"/>
    <part type="xsd:string" name="NewIPSecXauthPassword"/>
  </message>
  <message name="SetAppVPNwithPFSResponse"/>
  <message name="SetAppMessageFilterRequest">
    <part type="xsd:string" name="NewAppId"/>
    <part type="xsd:string" name="NewType"/>
    <part type="xsd:string" name="NewFilter"/>
  </message>
  <message name="SetAppMessageFilterResponse"/>
  <message name="SetAppMessageReceiverRequest">
    <part type="xsd:string" name="NewAppId"/>
    <part type="xsd:string" name="NewCryptAlgos"/>
    <part type="xsd:string" name="NewAppAVMAddress"/>
    <part type="xsd:string" name="NewAppAVMPasswordHash"/>
  </message>
  <message name="SetAppMessageReceiverResponse">
    <part type="xsd:string" name="EncryptionSecret"/>
    <part type="xsd:string" name="BoxSenderId"/>
  </message>
  <message name="ResetEventRequest">
    <part type="xsd:unsignedInt" name="NewEventId"/>
  </message>
  <message name="ResetEventResponse"/>
  <message name="GetAppRemoteInfoRequest"/>
  <message name="GetAppRemoteInfoResponse">
    <part type="xsd:string" name="NewSubnetMask"/>
    <part type="xsd:string" name="NewIPAddress"/>
    <part type="xsd:string" name="NewExternalIPAddress"/>
    <part type="xsd:string" name="NewExternalIPv6Address"/>
    <part name="NewRemoteAccessDDNSEnabled"/>
    <part type="xsd:string" name="NewRemoteAccessDDNSDomain"/>
    <part name="NewMyFritzEnabled"/>
    <part type="xsd:string" name="NewMyFritzDynDNSName"/>
  </message>
</definitions>
