wsdl/tr64desc/X_AVM-DE_Speedtest.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_Speedtest">
    <port binding="X_AVM-DE_Speedtest" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_speedtest"/>
    </port>
    <port binding="X_AVM-DE_Speedtest" name="SetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_speedtest"/>
    </port>
  </service>
  <binding name="X_AVM-DE_Speedtest" type="X_AVM-DE_Speedtest">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Speedtest:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Speedtest:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Speedtest:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Speedtest:1#SetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Speedtest:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Speedtest:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_Speedtest">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetConfig">
      <input message="SetConfigRequest"/>
      <output message="SetConfigResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part name="NewEnableTcp"/>
    <part name="NewEnableUdp"/>
    <part name="NewEnableUdpBidirect"/>
    <part name="NewWANEnableTcp"/>
    <part name="NewWANEnableUdp"/>
    <part type="xsd:unsignedInt" name="NewPortTcp"/>
    <part type="xsd:unsignedInt" name="NewPortUdp"/>
    <part type="xsd:unsignedInt" name="NewPortUdpBidirect"/>
  </message>
  <message name="SetConfigRequest">
    <part name="NewEnableTcp"/>
    <part name="NewEnableUdp"/>
    <part name="NewEnableUdpBidirect"/>
    <part name="NewWANEnableTcp"/>
    <part name="NewWANEnableUdp"/>
  </message>
  <message name="SetConfigResponse"/>
</definitions>
