wsdl/tr64desc/X_AVM-DE_Auth.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_Auth">
    <port binding="X_AVM-DE_Auth" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_auth"/>
    </port>
    <port binding="X_AVM-DE_Auth" name="GetState">
      <soap:address location="http://fritz.box:49000/upnp/control/x_auth"/>
    </port>
    <port binding="X_AVM-DE_Auth" name="SetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_auth"/>
    </port>
  </service>
  <binding name="X_AVM-DE_Auth" type="X_AVM-DE_Auth">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Auth:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Auth:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Auth:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetState">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Auth:1#GetState"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Auth:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Auth:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Auth:1#SetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Auth:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Auth:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_Auth">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetState">
      <input message="GetStateRequest"/>
      <output message="GetStateResponse"/>
    </operation>
    <operation name="SetConfig">
      <input message="SetConfigRequest"/>
      <output message="SetConfigResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part name="NewEnabled"/>
  </message>
  <message name="GetStateRequest"/>
  <message name="GetStateResponse">
    <part type="xsd:string" name="NewState"/>
  </message>
  <message name="SetConfigRequest">
    <part type="xsd:string" name="NewAction"/>
  </message>
  <message name="SetConfigResponse">
    <part type="xsd:string" name="NewState"/>
    <part type="xsd:string" name="NewToken"/>
    <part type="xsd:string" name="NewMethods"/>
  </message>
</definitions>
