wsdl/tr64desc/X_AVM-DE_Homeauto.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_Homeauto">
    <port binding="X_AVM-DE_Homeauto" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_homeauto"/>
    </port>
    <port binding="X_AVM-DE_Homeauto" name="GetGenericDeviceInfos">
      <soap:address location="http://fritz.box:49000/upnp/control/x_homeauto"/>
    </port>
    <port binding="X_AVM-DE_Homeauto" name="GetSpecificDeviceInfos">
      <soap:address location="http://fritz.box:49000/upnp/control/x_homeauto"/>
    </port>
    <port binding="X_AVM-DE_Homeauto" name="SetDeviceName">
      <soap:address location="http://fritz.box:49000/upnp/control/x_homeauto"/>
    </port>
    <port binding="X_AVM-DE_Homeauto" name="SetSwitch">
      <soap:address location="http://fritz.box:49000/upnp/control/x_homeauto"/>
    </port>
  </service>
  <binding name="X_AVM-DE_Homeauto" type="X_AVM-DE_Homeauto">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Homeauto:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetGenericDeviceInfos">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Homeauto:1#GetGenericDeviceInfos"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSpecificDeviceInfos">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Homeauto:1#GetSpecificDeviceInfos"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetDeviceName">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Homeauto:1#SetDeviceName"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetSwitch">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Homeauto:1#SetSwitch"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Homeauto:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_Homeauto">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetGenericDeviceInfos">
      <input message="GetGenericDeviceInfosRequest"/>
      <output message="GetGenericDeviceInfosResponse"/>
    </operation>
    <operation name="GetSpecificDeviceInfos">
      <input message="GetSpecificDeviceInfosRequest"/>
      <output message="GetSpecificDeviceInfosResponse"/>
    </operation>
    <operation name="SetDeviceName">
      <input message="SetDeviceNameRequest"/>
      <output message="SetDeviceNameResponse"/>
    </operation>
    <operation name="SetSwitch">
      <input message="SetSwitchRequest"/>
      <output message="SetSwitchResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:string" name="NewAllowedCharsAIN"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsAIN"/>
    <part type="xsd:unsignedShort" name="NewMinCharsAIN"/>
    <part type="xsd:unsignedShort" name="NewMaxCharsDeviceName"/>
    <part type="xsd:unsignedShort" name="NewMinCharsDeviceName"/>
  </message>
  <message name="GetGenericDeviceInfosRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="GetGenericDeviceInfosResponse">
    <part type="xsd:string" name="NewAIN"/>
    <part type="xsd:unsignedShort" name="NewDeviceId"/>
    <part type="xsd:unsignedShort" name="NewFunctionBitMask"/>
    <part type="xsd:string" name="NewFirmwareVersion"/>
    <part type="xsd:string" name="NewManufacturer"/>
    <part type="xsd:string" name="NewProductName"/>
    <part type="xsd:string" name="NewDeviceName"/>
    <part type="xsd:string" name="NewPresent"/>
    <part type="xsd:string" name="NewMultimeterIsEnabled"/>
    <part type="xsd:string" name="NewMultimeterIsValid"/>
    <part type="xsd:unsignedInt" name="NewMultimeterPower"/>
    <part type="xsd:unsignedInt" name="NewMultimeterEnergy"/>
    <part type="xsd:string" name="NewTemperatureIsEnabled"/>
    <part type="xsd:string" name="NewTemperatureIsValid"/>
    <part name="NewTemperatureCelsius"/>
    <part name="NewTemperatureOffset"/>
    <part type="xsd:string" name="NewSwitchIsEnabled"/>
    <part type="xsd:string" name="NewSwitchIsValid"/>
    <part type="xsd:string" name="NewSwitchState"/>
    <part type="xsd:string" name="NewSwitchMode"/>
    <part name="NewSwitchLock"/>
    <part type="xsd:string" name="NewHkrIsEnabled"/>
    <part type="xsd:string" name="NewHkrIsValid"/>
    <part name="NewHkrIsTemperature"/>
    <part type="xsd:string" name="NewHkrSetVentilStatus"/>
    <part name="NewHkrSetTemperature"/>
    <part type="xsd:string" name="NewHkrReduceVentilStatus"/>
    <part name="NewHkrReduceTemperature"/>
    <part type="xsd:string" name="NewHkrComfortVentilStatus"/>
    <part name="NewHkrComfortTemperature"/>
  </message>
  <message name="GetSpecificDeviceInfosRequest">
    <part type="xsd:string" name="NewAIN"/>
  </message>
  <message name="GetSpecificDeviceInfosResponse">
    <part type="xsd:unsignedShort" name="NewDeviceId"/>
    <part type="xsd:unsignedShort" name="NewFunctionBitMask"/>
    <part type="xsd:string" name="NewFirmwareVersion"/>
    <part type="xsd:string" name="NewManufacturer"/>
    <part type="xsd:string" name="NewProductName"/>
    <part type="xsd:string" name="NewDeviceName"/>
    <part type="xsd:string" name="NewPresent"/>
    <part type="xsd:string" name="NewMultimeterIsEnabled"/>
    <part type="xsd:string" name="NewMultimeterIsValid"/>
    <part type="xsd:unsignedInt" name="NewMultimeterPower"/>
    <part type="xsd:unsignedInt" name="NewMultimeterEnergy"/>
    <part type="xsd:string" name="NewTemperatureIsEnabled"/>
    <part type="xsd:string" name="NewTemperatureIsValid"/>
    <part name="NewTemperatureCelsius"/>
    <part name="NewTemperatureOffset"/>
    <part type="xsd:string" name="NewSwitchIsEnabled"/>
    <part type="xsd:string" name="NewSwitchIsValid"/>
    <part type="xsd:string" name="NewSwitchState"/>
    <part type="xsd:string" name="NewSwitchMode"/>
    <part name="NewSwitchLock"/>
    <part type="xsd:string" name="NewHkrIsEnabled"/>
    <part type="xsd:string" name="NewHkrIsValid"/>
    <part name="NewHkrIsTemperature"/>
    <part type="xsd:string" name="NewHkrSetVentilStatus"/>
    <part name="NewHkrSetTemperature"/>
    <part type="xsd:string" name="NewHkrReduceVentilStatus"/>
    <part name="NewHkrReduceTemperature"/>
    <part type="xsd:string" name="NewHkrComfortVentilStatus"/>
    <part name="NewHkrComfortTemperature"/>
  </message>
  <message name="SetDeviceNameRequest">
    <part type="xsd:string" name="NewAIN"/>
    <part type="xsd:string" name="NewDeviceName"/>
  </message>
  <message name="SetDeviceNameResponse"/>
  <message name="SetSwitchRequest">
    <part type="xsd:string" name="NewAIN"/>
    <part type="xsd:string" name="NewSwitchState"/>
  </message>
  <message name="SetSwitchResponse"/>
</definitions>
