wsdl/tr64desc/X_AVM-DE_TAM.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_TAM">
    <port binding="X_AVM-DE_TAM" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_tam"/>
    </port>
    <port binding="X_AVM-DE_TAM" name="SetEnable">
      <soap:address location="http://fritz.box:49000/upnp/control/x_tam"/>
    </port>
    <port binding="X_AVM-DE_TAM" name="GetMessageList">
      <soap:address location="http://fritz.box:49000/upnp/control/x_tam"/>
    </port>
    <port binding="X_AVM-DE_TAM" name="MarkMessage">
      <soap:address location="http://fritz.box:49000/upnp/control/x_tam"/>
    </port>
    <port binding="X_AVM-DE_TAM" name="DeleteMessage">
      <soap:address location="http://fritz.box:49000/upnp/control/x_tam"/>
    </port>
    <port binding="X_AVM-DE_TAM" name="GetList">
      <soap:address location="http://fritz.box:49000/upnp/control/x_tam"/>
    </port>
  </service>
  <binding name="X_AVM-DE_TAM" type="X_AVM-DE_TAM">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_TAM:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetEnable">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_TAM:1#SetEnable"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetMessageList">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_TAM:1#GetMessageList"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="MarkMessage">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_TAM:1#MarkMessage"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="DeleteMessage">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_TAM:1#DeleteMessage"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetList">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_TAM:1#GetList"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_TAM:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_TAM">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetEnable">
      <input message="SetEnableRequest"/>
      <output message="SetEnableResponse"/>
    </operation>
    <operation name="GetMessageList">
      <input message="GetMessageListRequest"/>
      <output message="GetMessageListResponse"/>
    </operation>
    <operation name="MarkMessage">
      <input message="MarkMessageRequest"/>
      <output message="MarkMessageResponse"/>
    </operation>
    <operation name="DeleteMessage">
      <input message="DeleteMessageRequest"/>
      <output message="DeleteMessageResponse"/>
    </operation>
    <operation name="GetList">
      <input message="GetListRequest"/>
      <output message="GetListResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="GetInfoResponse">
    <part name="NewEnable"/>
    <part type="xsd:string" name="NewName"/>
    <part name="NewTAMRunning"/>
    <part type="xsd:unsignedShort" name="NewStick"/>
    <part type="xsd:unsignedShort" name="NewStatus"/>
    <part type="xsd:unsignedInt" name="NewCapacity"/>
  </message>
  <message name="SetEnableRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
    <part name="NewEnable"/>
  </message>
  <message name="SetEnableResponse"/>
  <message name="GetMessageListRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="GetMessageListResponse">
    <part type="xsd:string" name="NewURL"/>
  </message>
  <message name="MarkMessageRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
    <part type="xsd:unsignedShort" name="NewMessageIndex"/>
    <part name="NewMarkedAsRead"/>
  </message>
  <message name="MarkMessageResponse"/>
  <message name="DeleteMessageRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
    <part type="xsd:unsignedShort" name="NewMessageIndex"/>
  </message>
  <message name="DeleteMessageResponse"/>
  <message name="GetListRequest"/>
  <message name="GetListResponse">
    <part type="xsd:string" name="NewTAMList"/>
  </message>
</definitions>
