wsdl/tr64desc/X_AVM-DE_HostFilter.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_HostFilter">
    <port binding="X_AVM-DE_HostFilter" name="MarkTicket">
      <soap:address location="http://fritz.box:49000/upnp/control/x_hostfilter"/>
    </port>
    <port binding="X_AVM-DE_HostFilter" name="GetTicketIDStatus">
      <soap:address location="http://fritz.box:49000/upnp/control/x_hostfilter"/>
    </port>
    <port binding="X_AVM-DE_HostFilter" name="DiscardAllTickets">
      <soap:address location="http://fritz.box:49000/upnp/control/x_hostfilter"/>
    </port>
    <port binding="X_AVM-DE_HostFilter" name="DisallowWANAccessByIP">
      <soap:address location="http://fritz.box:49000/upnp/control/x_hostfilter"/>
    </port>
    <port binding="X_AVM-DE_HostFilter" name="GetWANAccessByIP">
      <soap:address location="http://fritz.box:49000/upnp/control/x_hostfilter"/>
    </port>
  </service>
  <binding name="X_AVM-DE_HostFilter" type="X_AVM-DE_HostFilter">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="MarkTicket">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_HostFilter:1#MarkTicket"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetTicketIDStatus">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_HostFilter:1#GetTicketIDStatus"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="DiscardAllTickets">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_HostFilter:1#DiscardAllTickets"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="DisallowWANAccessByIP">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_HostFilter:1#DisallowWANAccessByIP"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetWANAccessByIP">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_HostFilter:1#GetWANAccessByIP"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_HostFilter:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_HostFilter">
    <operation name="MarkTicket">
      <input message="MarkTicketRequest"/>
      <output message="MarkTicketResponse"/>
    </operation>
    <operation name="GetTicketIDStatus">
      <input message="GetTicketIDStatusRequest"/>
      <output message="GetTicketIDStatusResponse"/>
    </operation>
    <operation name="DiscardAllTickets">
      <input message="DiscardAllTicketsRequest"/>
      <output message="DiscardAllTicketsResponse"/>
    </operation>
    <operation name="DisallowWANAccessByIP">
      <input message="DisallowWANAccessByIPRequest"/>
      <output message="DisallowWANAccessByIPResponse"/>
    </operation>
    <operation name="GetWANAccessByIP">
      <input message="GetWANAccessByIPRequest"/>
      <output message="GetWANAccessByIPResponse"/>
    </operation>
  </portType>
  <message name="MarkTicketRequest"/>
  <message name="MarkTicketResponse">
    <part type="xsd:string" name="NewTicketID"/>
  </message>
  <message name="GetTicketIDStatusRequest">
    <part type="xsd:string" name="NewTicketID"/>
  </message>
  <message name="GetTicketIDStatusResponse">
    <part type="xsd:string" name="NewTicketIDStatus"/>
  </message>
  <message name="DiscardAllTicketsRequest"/>
  <message name="DiscardAllTicketsResponse"/>
  <message name="DisallowWANAccessByIPRequest">
    <part type="xsd:string" name="NewIPv4Address"/>
    <part name="NewDisallow"/>
  </message>
  <message name="DisallowWANAccessByIPResponse"/>
  <message name="GetWANAccessByIPRequest">
    <part type="xsd:string" name="NewIPv4Address"/>
  </message>
  <message name="GetWANAccessByIPResponse">
    <part name="NewDisallow"/>
    <part type="xsd:string" name="NewWANAccess"/>
  </message>
</definitions>
