wsdl/tr64desc/X_VoIP.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_VoIP">
    <port binding="X_VoIP" name="GetInfoEx">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_AddVoIPAccount">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetVoIPAccount">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_DelVoIPAccount">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="SetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetMaxVoIPNumbers">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetExistingVoIPNumbers">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetNumberOfClients">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetClient">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetClient2">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetClient">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetClient2">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetClient3">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetClientByClientId">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetClient3">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetClient4">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetClients">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetNumberOfNumbers">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetNumbers">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_DeleteClient">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_DialGetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_DialSetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_DialNumber">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_DialHangup">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetPhonePort">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetDelayedCallNotification">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetVoIPCommonCountryCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetVoIPCommonCountryCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="SetVoIPCommonCountryCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetVoIPCommonCountryCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetVoIPEnableCountryCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="SetVoIPEnableCountryCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetVoIPCommonAreaCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetVoIPCommonAreaCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="SetVoIPCommonAreaCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetVoIPCommonAreaCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="GetVoIPEnableAreaCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="SetVoIPEnableAreaCode">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetAlarmClock">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_SetAlarmClockEnable">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
    <port binding="X_VoIP" name="X_AVM-DE_GetNumberOfAlarmClocks">
      <soap:address location="http://fritz.box:49000/upnp/control/x_voip"/>
    </port>
  </service>
  <binding name="X_VoIP" type="X_VoIP">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfoEx">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetInfoEx"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_AddVoIPAccount">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_AddVoIPAccount"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetVoIPAccount">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetVoIPAccount"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_DelVoIPAccount">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_DelVoIPAccount"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#SetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetMaxVoIPNumbers">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetMaxVoIPNumbers"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetExistingVoIPNumbers">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetExistingVoIPNumbers"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetNumberOfClients">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetNumberOfClients"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetClient">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetClient"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetClient2">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetClient2"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetClient">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetClient"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetClient2">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetClient2"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetClient3">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetClient3"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetClientByClientId">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetClientByClientId"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetClient3">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetClient3"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetClient4">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetClient4"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetClients">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetClients"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetNumberOfNumbers">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetNumberOfNumbers"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetNumbers">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetNumbers"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_DeleteClient">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_DeleteClient"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_DialGetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_DialGetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_DialSetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_DialSetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_DialNumber">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_DialNumber"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_DialHangup">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_DialHangup"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetPhonePort">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetPhonePort"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetDelayedCallNotification">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetDelayedCallNotification"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetVoIPCommonCountryCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetVoIPCommonCountryCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetVoIPCommonCountryCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetVoIPCommonCountryCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetVoIPCommonCountryCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#SetVoIPCommonCountryCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetVoIPCommonCountryCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetVoIPCommonCountryCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetVoIPEnableCountryCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetVoIPEnableCountryCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetVoIPEnableCountryCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#SetVoIPEnableCountryCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetVoIPCommonAreaCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetVoIPCommonAreaCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetVoIPCommonAreaCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetVoIPCommonAreaCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetVoIPCommonAreaCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#SetVoIPCommonAreaCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetVoIPCommonAreaCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetVoIPCommonAreaCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetVoIPEnableAreaCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#GetVoIPEnableAreaCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetVoIPEnableAreaCode">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#SetVoIPEnableAreaCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetAlarmClock">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetAlarmClock"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_SetAlarmClockEnable">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_SetAlarmClockEnable"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM_DE_GetNumberOfAlarmClocks">
      <soap:operation soapAction="urn:dslforum-org:service:X_VoIP:1#X_AVM-DE_GetNumberOfAlarmClocks"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_VoIP:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_VoIP">
    <operation name="GetInfoEx">
      <input message="GetInfoExRequest"/>
      <output message="GetInfoExResponse"/>
    </operation>
    <operation name="X_AVM_DE_AddVoIPAccount">
      <input message="X_AVM-DE_AddVoIPAccountRequest"/>
      <output message="X_AVM-DE_AddVoIPAccountResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetVoIPAccount">
      <input message="X_AVM-DE_GetVoIPAccountRequest"/>
      <output message="X_AVM-DE_GetVoIPAccountResponse"/>
    </operation>
    <operation name="X_AVM_DE_DelVoIPAccount">
      <input message="X_AVM-DE_DelVoIPAccountRequest"/>
      <output message="X_AVM-DE_DelVoIPAccountResponse"/>
    </operation>
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetConfig">
      <input message="SetConfigRequest"/>
      <output message="SetConfigResponse"/>
    </operation>
    <operation name="GetMaxVoIPNumbers">
      <input message="GetMaxVoIPNumbersRequest"/>
      <output message="GetMaxVoIPNumbersResponse"/>
    </operation>
    <operation name="GetExistingVoIPNumbers">
      <input message="GetExistingVoIPNumbersRequest"/>
      <output message="GetExistingVoIPNumbersResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetNumberOfClients">
      <input message="X_AVM-DE_GetNumberOfClientsRequest"/>
      <output message="X_AVM-DE_GetNumberOfClientsResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetClient">
      <input message="X_AVM-DE_GetClientRequest"/>
      <output message="X_AVM-DE_GetClientResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetClient2">
      <input message="X_AVM-DE_GetClient2Request"/>
      <output message="X_AVM-DE_GetClient2Response"/>
    </operation>
    <operation name="X_AVM_DE_SetClient">
      <input message="X_AVM-DE_SetClientRequest"/>
      <output message="X_AVM-DE_SetClientResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetClient2">
      <input message="X_AVM-DE_SetClient2Request"/>
      <output message="X_AVM-DE_SetClient2Response"/>
    </operation>
    <operation name="X_AVM_DE_GetClient3">
      <input message="X_AVM-DE_GetClient3Request"/>
      <output message="X_AVM-DE_GetClient3Response"/>
    </operation>
    <operation name="X_AVM_DE_GetClientByClientId">
      <input message="X_AVM-DE_GetClientByClientIdRequest"/>
      <output message="X_AVM-DE_GetClientByClientIdResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetClient3">
      <input message="X_AVM-DE_SetClient3Request"/>
      <output message="X_AVM-DE_SetClient3Response"/>
    </operation>
    <operation name="X_AVM_DE_SetClient4">
      <input message="X_AVM-DE_SetClient4Request"/>
      <output message="X_AVM-DE_SetClient4Response"/>
    </operation>
    <operation name="X_AVM_DE_GetClients">
      <input message="X_AVM-DE_GetClientsRequest"/>
      <output message="X_AVM-DE_GetClientsResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetNumberOfNumbers">
      <input message="X_AVM-DE_GetNumberOfNumbersRequest"/>
      <output message="X_AVM-DE_GetNumberOfNumbersResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetNumbers">
      <input message="X_AVM-DE_GetNumbersRequest"/>
      <output message="X_AVM-DE_GetNumbersResponse"/>
    </operation>
    <operation name="X_AVM_DE_DeleteClient">
      <input message="X_AVM-DE_DeleteClientRequest"/>
      <output message="X_AVM-DE_DeleteClientResponse"/>
    </operation>
    <operation name="X_AVM_DE_DialGetConfig">
      <input message="X_AVM-DE_DialGetConfigRequest"/>
      <output message="X_AVM-DE_DialGetConfigResponse"/>
    </operation>
    <operation name="X_AVM_DE_DialSetConfig">
      <input message="X_AVM-DE_DialSetConfigRequest"/>
      <output message="X_AVM-DE_DialSetConfigResponse"/>
    </operation>
    <operation name="X_AVM_DE_DialNumber">
      <input message="X_AVM-DE_DialNumberRequest"/>
      <output message="X_AVM-DE_DialNumberResponse"/>
    </operation>
    <operation name="X_AVM_DE_DialHangup">
      <input message="X_AVM-DE_DialHangupRequest"/>
      <output message="X_AVM-DE_DialHangupResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetPhonePort">
      <input message="X_AVM-DE_GetPhonePortRequest"/>
      <output message="X_AVM-DE_GetPhonePortResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetDelayedCallNotification">
      <input message="X_AVM-DE_SetDelayedCallNotificationRequest"/>
      <output message="X_AVM-DE_SetDelayedCallNotificationResponse"/>
    </operation>
    <operation name="GetVoIPCommonCountryCode">
      <input message="GetVoIPCommonCountryCodeRequest"/>
      <output message="GetVoIPCommonCountryCodeResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetVoIPCommonCountryCode">
      <input message="X_AVM-DE_GetVoIPCommonCountryCodeRequest"/>
      <output message="X_AVM-DE_GetVoIPCommonCountryCodeResponse"/>
    </operation>
    <operation name="SetVoIPCommonCountryCode">
      <input message="SetVoIPCommonCountryCodeRequest"/>
      <output message="SetVoIPCommonCountryCodeResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetVoIPCommonCountryCode">
      <input message="X_AVM-DE_SetVoIPCommonCountryCodeRequest"/>
      <output message="X_AVM-DE_SetVoIPCommonCountryCodeResponse"/>
    </operation>
    <operation name="GetVoIPEnableCountryCode">
      <input message="GetVoIPEnableCountryCodeRequest"/>
      <output message="GetVoIPEnableCountryCodeResponse"/>
    </operation>
    <operation name="SetVoIPEnableCountryCode">
      <input message="SetVoIPEnableCountryCodeRequest"/>
      <output message="SetVoIPEnableCountryCodeResponse"/>
    </operation>
    <operation name="GetVoIPCommonAreaCode">
      <input message="GetVoIPCommonAreaCodeRequest"/>
      <output message="GetVoIPCommonAreaCodeResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetVoIPCommonAreaCode">
      <input message="X_AVM-DE_GetVoIPCommonAreaCodeRequest"/>
      <output message="X_AVM-DE_GetVoIPCommonAreaCodeResponse"/>
    </operation>
    <operation name="SetVoIPCommonAreaCode">
      <input message="SetVoIPCommonAreaCodeRequest"/>
      <output message="SetVoIPCommonAreaCodeResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetVoIPCommonAreaCode">
      <input message="X_AVM-DE_SetVoIPCommonAreaCodeRequest"/>
      <output message="X_AVM-DE_SetVoIPCommonAreaCodeResponse"/>
    </operation>
    <operation name="GetVoIPEnableAreaCode">
      <input message="GetVoIPEnableAreaCodeRequest"/>
      <output message="GetVoIPEnableAreaCodeResponse"/>
    </operation>
    <operation name="SetVoIPEnableAreaCode">
      <input message="SetVoIPEnableAreaCodeRequest"/>
      <output message="SetVoIPEnableAreaCodeResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetAlarmClock">
      <input message="X_AVM-DE_GetAlarmClockRequest"/>
      <output message="X_AVM-DE_GetAlarmClockResponse"/>
    </operation>
    <operation name="X_AVM_DE_SetAlarmClockEnable">
      <input message="X_AVM-DE_SetAlarmClockEnableRequest"/>
      <output message="X_AVM-DE_SetAlarmClockEnableResponse"/>
    </operation>
    <operation name="X_AVM_DE_GetNumberOfAlarmClocks">
      <input message="X_AVM-DE_GetNumberOfAlarmClocksRequest"/>
      <output message="X_AVM-DE_GetNumberOfAlarmClocksResponse"/>
    </operation>
  </portType>
  <message name="GetInfoExRequest"/>
  <message name="GetInfoExResponse">
    <part type="xsd:unsignedShort" name="NewVoIPNumberMinChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPNumberMaxChars"/>
    <part type="xsd:string" name="NewVoIPNumberAllowedChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPUsernameMinChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPUsernameMaxChars"/>
    <part type="xsd:string" name="NewVoIPUsernameAllowedChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPPasswordMinChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPPasswordMaxChars"/>
    <part type="xsd:string" name="NewVoIPPasswordAllowedChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPRegistrarMinChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPRegistrarMaxChars"/>
    <part type="xsd:string" name="NewVoIPRegistrarAllowedChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPSTUNServerMinChars"/>
    <part type="xsd:unsignedShort" name="NewVoIPSTUNServerMaxChars"/>
    <part type="xsd:string" name="NewVoIPSTUNServerAllowedChars"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientUsernameMinChars"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientUsernameMaxChars"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientUsernameAllowedChars"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientPasswordMinChars"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientPasswordMaxChars"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientPasswordAllowedChars"/>
  </message>
  <message name="X_AVM-DE_AddVoIPAccountRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
    <part type="xsd:string" name="NewVoIPRegistrar"/>
    <part type="xsd:string" name="NewVoIPNumber"/>
    <part type="xsd:string" name="NewVoIPUsername"/>
    <part type="xsd:string" name="NewVoIPPassword"/>
    <part type="xsd:string" name="NewVoIPOutboundProxy"/>
    <part type="xsd:string" name="NewVoIPSTUNServer"/>
  </message>
  <message name="X_AVM-DE_AddVoIPAccountResponse"/>
  <message name="X_AVM-DE_GetVoIPAccountRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
  </message>
  <message name="X_AVM-DE_GetVoIPAccountResponse">
    <part type="xsd:string" name="NewVoIPRegistrar"/>
    <part type="xsd:string" name="NewVoIPNumber"/>
    <part type="xsd:string" name="NewVoIPUsername"/>
    <part type="xsd:string" name="NewVoIPPassword"/>
    <part type="xsd:string" name="NewVoIPOutboundProxy"/>
    <part type="xsd:string" name="NewVoIPSTUNServer"/>
  </message>
  <message name="X_AVM-DE_DelVoIPAccountRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
  </message>
  <message name="X_AVM-DE_DelVoIPAccountResponse"/>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part name="NewFaxT38Enable"/>
    <part type="xsd:string" name="NewVoiceCoding"/>
  </message>
  <message name="SetConfigRequest">
    <part name="NewFaxT38Enable"/>
    <part type="xsd:string" name="NewVoiceCoding"/>
  </message>
  <message name="SetConfigResponse"/>
  <message name="GetMaxVoIPNumbersRequest"/>
  <message name="GetMaxVoIPNumbersResponse">
    <part type="xsd:unsignedShort" name="NewMaxVoIPNumbers"/>
  </message>
  <message name="GetExistingVoIPNumbersRequest"/>
  <message name="GetExistingVoIPNumbersResponse">
    <part type="xsd:unsignedShort" name="NewExistingVoIPNumbers"/>
  </message>
  <message name="X_AVM-DE_GetNumberOfClientsRequest"/>
  <message name="X_AVM-DE_GetNumberOfClientsResponse">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_NumberOfClients"/>
  </message>
  <message name="X_AVM-DE_GetClientRequest">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
  </message>
  <message name="X_AVM-DE_GetClientResponse">
    <part type="xsd:string" name="NewX_AVM-DE_ClientUsername"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientRegistrar"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientRegistrarPort"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
  </message>
  <message name="X_AVM-DE_GetClient2Request">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
  </message>
  <message name="X_AVM-DE_GetClient2Response">
    <part type="xsd:string" name="NewX_AVM-DE_ClientUsername"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientRegistrar"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientRegistrarPort"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
    <part type="xsd:string" name="NewX_AVM-DE_InternalNumber"/>
  </message>
  <message name="X_AVM-DE_SetClientRequest">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientPassword"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
  </message>
  <message name="X_AVM-DE_SetClientResponse"/>
  <message name="X_AVM-DE_SetClient2Request">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientPassword"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
  </message>
  <message name="X_AVM-DE_SetClient2Response"/>
  <message name="X_AVM-DE_GetClient3Request">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
  </message>
  <message name="X_AVM-DE_GetClient3Response">
    <part type="xsd:string" name="NewX_AVM-DE_ClientUsername"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientRegistrar"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientRegistrarPort"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
    <part type="xsd:string" name="NewX_AVM-DE_InComingNumbers"/>
    <part name="NewX_AVM-DE_ExternalRegistration"/>
    <part type="xsd:string" name="NewX_AVM-DE_InternalNumber"/>
    <part name="NewX_AVM-DE_DelayedCallNotification"/>
  </message>
  <message name="X_AVM-DE_GetClientByClientIdRequest">
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
  </message>
  <message name="X_AVM-DE_GetClientByClientIdResponse">
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientUsername"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientRegistrar"/>
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientRegistrarPort"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
    <part type="xsd:string" name="NewX_AVM-DE_InComingNumbers"/>
    <part name="NewX_AVM-DE_ExternalRegistration"/>
    <part type="xsd:string" name="NewX_AVM-DE_InternalNumber"/>
    <part name="NewX_AVM-DE_DelayedCallNotification"/>
  </message>
  <message name="X_AVM-DE_SetClient3Request">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientPassword"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
    <part type="xsd:string" name="NewX_AVM-DE_InComingNumbers"/>
    <part name="NewX_AVM-DE_ExternalRegistration"/>
  </message>
  <message name="X_AVM-DE_SetClient3Response"/>
  <message name="X_AVM-DE_SetClient4Request">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientPassword"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientUsername"/>
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
    <part type="xsd:string" name="NewX_AVM-DE_ClientId"/>
    <part type="xsd:string" name="NewX_AVM-DE_OutGoingNumber"/>
    <part type="xsd:string" name="NewX_AVM-DE_InComingNumbers"/>
  </message>
  <message name="X_AVM-DE_SetClient4Response">
    <part type="xsd:string" name="NewX_AVM-DE_InternalNumber"/>
  </message>
  <message name="X_AVM-DE_GetClientsRequest"/>
  <message name="X_AVM-DE_GetClientsResponse">
    <part type="xsd:string" name="NewX_AVM-DE_ClientList"/>
  </message>
  <message name="X_AVM-DE_GetNumberOfNumbersRequest"/>
  <message name="X_AVM-DE_GetNumberOfNumbersResponse">
    <part type="xsd:unsignedInt" name="NewNumberOfNumbers"/>
  </message>
  <message name="X_AVM-DE_GetNumbersRequest"/>
  <message name="X_AVM-DE_GetNumbersResponse">
    <part type="xsd:string" name="NewNumberList"/>
  </message>
  <message name="X_AVM-DE_DeleteClientRequest">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
  </message>
  <message name="X_AVM-DE_DeleteClientResponse"/>
  <message name="X_AVM-DE_DialGetConfigRequest"/>
  <message name="X_AVM-DE_DialGetConfigResponse">
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
  </message>
  <message name="X_AVM-DE_DialSetConfigRequest">
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
  </message>
  <message name="X_AVM-DE_DialSetConfigResponse"/>
  <message name="X_AVM-DE_DialNumberRequest">
    <part type="xsd:string" name="NewX_AVM-DE_PhoneNumber"/>
  </message>
  <message name="X_AVM-DE_DialNumberResponse"/>
  <message name="X_AVM-DE_DialHangupRequest"/>
  <message name="X_AVM-DE_DialHangupResponse"/>
  <message name="X_AVM-DE_GetPhonePortRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="X_AVM-DE_GetPhonePortResponse">
    <part type="xsd:string" name="NewX_AVM-DE_PhoneName"/>
  </message>
  <message name="X_AVM-DE_SetDelayedCallNotificationRequest">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_ClientIndex"/>
    <part name="NewX_AVM-DE_DelayedCallNotification"/>
  </message>
  <message name="X_AVM-DE_SetDelayedCallNotificationResponse"/>
  <message name="GetVoIPCommonCountryCodeRequest"/>
  <message name="GetVoIPCommonCountryCodeResponse">
    <part type="xsd:string" name="NewVoIPCountryCode"/>
  </message>
  <message name="X_AVM-DE_GetVoIPCommonCountryCodeRequest"/>
  <message name="X_AVM-DE_GetVoIPCommonCountryCodeResponse">
    <part type="xsd:string" name="NewX_AVM-DE_LKZ"/>
    <part type="xsd:string" name="NewX_AVM-DE_LKZPrefix"/>
  </message>
  <message name="SetVoIPCommonCountryCodeRequest">
    <part type="xsd:string" name="NewVoIPCountryCode"/>
  </message>
  <message name="SetVoIPCommonCountryCodeResponse"/>
  <message name="X_AVM-DE_SetVoIPCommonCountryCodeRequest">
    <part type="xsd:string" name="NewX_AVM-DE_LKZ"/>
    <part type="xsd:string" name="NewX_AVM-DE_LKZPrefix"/>
  </message>
  <message name="X_AVM-DE_SetVoIPCommonCountryCodeResponse"/>
  <message name="GetVoIPEnableCountryCodeRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
  </message>
  <message name="GetVoIPEnableCountryCodeResponse">
    <part name="NewVoIPEnableCountryCode"/>
  </message>
  <message name="SetVoIPEnableCountryCodeRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
    <part name="NewVoIPEnableCountryCode"/>
  </message>
  <message name="SetVoIPEnableCountryCodeResponse"/>
  <message name="GetVoIPCommonAreaCodeRequest"/>
  <message name="GetVoIPCommonAreaCodeResponse">
    <part type="xsd:string" name="NewVoIPAreaCode"/>
  </message>
  <message name="X_AVM-DE_GetVoIPCommonAreaCodeRequest"/>
  <message name="X_AVM-DE_GetVoIPCommonAreaCodeResponse">
    <part type="xsd:string" name="NewX_AVM-DE_OKZ"/>
    <part type="xsd:string" name="NewX_AVM-DE_OKZPrefix"/>
  </message>
  <message name="SetVoIPCommonAreaCodeRequest">
    <part type="xsd:string" name="NewVoIPAreaCode"/>
  </message>
  <message name="SetVoIPCommonAreaCodeResponse"/>
  <message name="X_AVM-DE_SetVoIPCommonAreaCodeRequest">
    <part type="xsd:string" name="NewX_AVM-DE_OKZ"/>
    <part type="xsd:string" name="NewX_AVM-DE_OKZPrefix"/>
  </message>
  <message name="X_AVM-DE_SetVoIPCommonAreaCodeResponse"/>
  <message name="GetVoIPEnableAreaCodeRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
  </message>
  <message name="GetVoIPEnableAreaCodeResponse">
    <part name="NewVoIPEnableAreaCode"/>
  </message>
  <message name="SetVoIPEnableAreaCodeRequest">
    <part type="xsd:unsignedShort" name="NewVoIPAccountIndex"/>
    <part name="NewVoIPEnableAreaCode"/>
  </message>
  <message name="SetVoIPEnableAreaCodeResponse"/>
  <message name="X_AVM-DE_GetAlarmClockRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="X_AVM-DE_GetAlarmClockResponse">
    <part name="NewX_AVM-DE_AlarmClockEnable"/>
    <part type="xsd:string" name="NewX_AVM-DE_AlarmClockName"/>
    <part type="xsd:string" name="NewX_AVM-DE_AlarmClockTime"/>
    <part type="xsd:string" name="NewX_AVM-DE_AlarmClockWeekdays"/>
    <part type="xsd:string" name="NewX_AVM-DE_AlarmClockPhoneName"/>
  </message>
  <message name="X_AVM-DE_SetAlarmClockEnableRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
    <part name="NewX_AVM-DE_AlarmClockEnable"/>
  </message>
  <message name="X_AVM-DE_SetAlarmClockEnableResponse"/>
  <message name="X_AVM-DE_GetNumberOfAlarmClocksRequest"/>
  <message name="X_AVM-DE_GetNumberOfAlarmClocksResponse">
    <part type="xsd:unsignedShort" name="NewX_AVM-DE_NumberOfAlarmClocks"/>
  </message>
</definitions>
