wsdl/DeviceInfo1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="DeviceInfo1">
    <documentation>http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/deviceinfoSCPD.pdf</documentation>
    <port binding="DeviceInfo1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/deviceinfo"/>
    </port>
    <port binding="DeviceInfo1" name="SetProvisioningCode">
      <soap:address location="http://fritz.box:49000/upnp/control/deviceinfo"/>
    </port>
    <port binding="DeviceInfo1" name="GetDeviceLog">
      <soap:address location="http://fritz.box:49000/upnp/control/deviceinfo"/>
    </port>
    <port binding="DeviceInfo1" name="GetSecurityPort">
      <soap:address location="http://fritz.box:49000/upnp/control/deviceinfo"/>
    </port>
  </service>
  <binding name="DeviceInfo1" type="DeviceInfo1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:DeviceInfo:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetProvisioningCode">
      <soap:operation soapAction="urn:dslforum-org:service:DeviceInfo:1#SetProvisioningCode"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetDeviceLog">
      <soap:operation soapAction="urn:dslforum-org:service:DeviceInfo:1#GetDeviceLog"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSecurityPort">
      <soap:operation soapAction="urn:dslforum-org:service:DeviceInfo:1#GetSecurityPort"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:DeviceInfo:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="DeviceInfo1">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetProvisioningCode">
      <input message="SetProvisioningCodeRequest"/>
      <output message="SetProvisioningCodeResponse"/>
    </operation>
    <operation name="GetDeviceLog">
      <input message="GetDeviceLogRequest"/>
      <output message="GetDeviceLogResponse"/>
    </operation>
    <operation name="GetSecurityPort">
      <input message="GetSecurityPortRequest"/>
      <output message="GetSecurityPortResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:string" name="NewManufacturerName"/>
    <part type="xsd:string" name="NewManufacturerOUI"/>
    <part type="xsd:string" name="NewModelName"/>
    <part type="xsd:string" name="NewDescription"/>
    <part type="xsd:string" name="NewProductClass"/>
    <part type="xsd:string" name="NewSerialNumber"/>
    <part type="xsd:string" name="NewSoftwareVersion"/>
    <part type="xsd:string" name="NewHardwareVersion"/>
    <part type="xsd:string" name="NewSpecVersion"/>
    <part type="xsd:string" name="NewProvisioningCode"/>
    <part type="xsd:unsignedInt" name="NewUpTime"/>
    <part type="xsd:string" name="NewDeviceLog"/>
  </message>
  <message name="SetProvisioningCodeRequest">
    <part type="xsd:string" name="NewProvisioningCode"/>
  </message>
  <message name="SetProvisioningCodeResponse"/>
  <message name="GetDeviceLogRequest"/>
  <message name="GetDeviceLogResponse">
    <part type="xsd:string" name="NewDeviceLog"/>
  </message>
  <message name="GetSecurityPortRequest"/>
  <message name="GetSecurityPortResponse">
    <part type="xsd:unsignedShort" name="NewSecurityPort"/>
  </message>
</definitions>
