wsdl/LANConfigSecurity1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="LANConfigSecurity1">
    <documentation>http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/lanconfigsecuritySCPD.pdf</documentation>
    <port binding="LANConfigSecurity1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/lanconfigsecurity"/>
    </port>
    <port binding="LANConfigSecurity1" name="X_AVM-DE_GetCurrentUser">
      <soap:address location="http://fritz.box:49000/upnp/control/lanconfigsecurity"/>
    </port>
    <port binding="LANConfigSecurity1" name="X_AVM-DE_GetAnonymousLogin">
      <soap:address location="http://fritz.box:49000/upnp/control/lanconfigsecurity"/>
    </port>
    <port binding="LANConfigSecurity1" name="SetConfigPassword">
      <soap:address location="http://fritz.box:49000/upnp/control/lanconfigsecurity"/>
    </port>
  </service>
  <binding name="LANConfigSecurity1" type="LANConfigSecurity1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:LANConfigSecurity:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM-DE_GetCurrentUser">
      <soap:operation soapAction="urn:dslforum-org:service:LANConfigSecurity:1#X_AVM-DE_GetCurrentUser"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="X_AVM-DE_GetAnonymousLogin">
      <soap:operation soapAction="urn:dslforum-org:service:LANConfigSecurity:1#X_AVM-DE_GetAnonymousLogin"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConfigPassword">
      <soap:operation soapAction="urn:dslforum-org:service:LANConfigSecurity:1#SetConfigPassword"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANConfigSecurity:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="LANConfigSecurity1">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="X_AVM-DE_GetCurrentUser">
      <input message="X_AVM-DE_GetCurrentUserRequest"/>
      <output message="X_AVM-DE_GetCurrentUserResponse"/>
    </operation>
    <operation name="X_AVM-DE_GetAnonymousLogin">
      <input message="X_AVM-DE_GetAnonymousLoginRequest"/>
      <output message="X_AVM-DE_GetAnonymousLoginResponse"/>
    </operation>
    <operation name="SetConfigPassword">
      <input message="SetConfigPasswordRequest"/>
      <output message="SetConfigPasswordResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:unsignedShort" name="NewMaxCharsPassword"/>
    <part type="xsd:unsignedShort" name="NewMinCharsPassword"/>
    <part type="xsd:string" name="NewAllowedCharsPassword"/>
  </message>
  <message name="X_AVM-DE_GetCurrentUserRequest"/>
  <message name="X_AVM-DE_GetCurrentUserResponse">
    <part type="xsd:string" name="NewX_AVM-DE_CurrentUsername"/>
    <part type="xsd:string" name="NewX_AVM-DE_CurrentUserRights"/>
  </message>
  <message name="X_AVM-DE_GetAnonymousLoginRequest"/>
  <message name="X_AVM-DE_GetAnonymousLoginResponse">
    <part type="xsd:boolean" name="NewX_AVM-DE_AnonymousLoginEnabled"/>
  </message>
  <message name="SetConfigPasswordRequest">
    <part type="xsd:string" name="NewPassword"/>
  </message>
  <message name="SetConfigPasswordResponse"/>
</definitions>
