wsdl/LANEthernetInterfaceConfig1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="LANEthernetInterfaceConfig1">
    <documentation/>
    <port binding="LANEthernetInterfaceConfig1" name="SetEnable">
      <soap:address location="http://fritz.box:49000/upnp/control/lanethernetifcfg"/>
    </port>
    <port binding="LANEthernetInterfaceConfig1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/lanethernetifcfg"/>
    </port>
    <port binding="LANEthernetInterfaceConfig1" name="GetStatistics">
      <soap:address location="http://fritz.box:49000/upnp/control/lanethernetifcfg"/>
    </port>
  </service>
  <binding name="LANEthernetInterfaceConfig1" type="LANEthernetInterfaceConfig1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SetEnable">
      <soap:operation soapAction="urn:dslforum-org:service:LANEthernetInterfaceConfig:1#SetEnable"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANEthernetInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANEthernetInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:LANEthernetInterfaceConfig:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANEthernetInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANEthernetInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetStatistics">
      <soap:operation soapAction="urn:dslforum-org:service:LANEthernetInterfaceConfig:1#GetStatistics"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANEthernetInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:LANEthernetInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="LANEthernetInterfaceConfig1">
    <operation name="SetEnable">
      <input message="SetEnableRequest"/>
      <output message="SetEnableResponse"/>
    </operation>
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetStatistics">
      <input message="GetStatisticsRequest"/>
      <output message="GetStatisticsResponse"/>
    </operation>
  </portType>
  <message name="SetEnableRequest">
    <part type="xsd:boolean" name="NewEnable"/>
  </message>
  <message name="SetEnableResponse"/>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewStatus"/>
    <part type="xsd:string" name="NewMACAddress"/>
    <part type="xsd:string" name="NewMaxBitRate"/>
    <part type="xsd:string" name="NewDuplexMode"/>
  </message>
  <message name="GetStatisticsRequest"/>
  <message name="GetStatisticsResponse">
    <part type="xsd:unsignedInt" name="NewBytesSent"/>
    <part type="xsd:unsignedInt" name="NewBytesReceived"/>
    <part type="xsd:unsignedInt" name="NewPacketsSent"/>
    <part type="xsd:unsignedInt" name="NewPacketsReceived"/>
  </message>
</definitions>
