wsdl/Time1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="Time1">
    <documentation>http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/timeSCPD.pdf</documentation>
    <port binding="Time1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/time"/>
    </port>
    <port binding="Time1" name="SetNTPServers">
      <soap:address location="http://fritz.box:49000/upnp/control/time"/>
    </port>
  </service>
  <binding name="Time1" type="Time1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:Time:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Time:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Time:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetNTPServers">
      <soap:operation soapAction="urn:dslforum-org:service:Time:1#SetNTPServers"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Time:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:Time:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="Time1">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetNTPServers">
      <input message="SetNTPServersRequest"/>
      <output message="SetNTPServersResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:string" name="NewNTPServer1"/>
    <part type="xsd:string" name="NewNTPServer2"/>
    <part type="xsd:dateTime" name="NewCurrentLocalTime"/>
    <part type="xsd:string" name="NewLocalTimeZone"/>
    <part type="xsd:string" name="NewLocalTimeZoneName"/>
    <part type="xsd:boolean" name="NewDaylightSavingsUsed"/>
    <part type="xsd:dateTime" name="NewDaylightSavingsStart"/>
    <part type="xsd:dateTime" name="NewDaylightSavingsEnd"/>
  </message>
  <message name="SetNTPServersRequest">
    <part type="xsd:string" name="NewNTPServer1"/>
    <part type="xsd:string" name="NewNTPServer2"/>
  </message>
  <message name="SetNTPServersResponse"/>
</definitions>
