wsdl/WANDSLInterfaceConfig1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="WANDSLInterfaceConfig1">
    <documentation>http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/wandslifconfigSCPD.pdf</documentation>
    <port binding="WANDSLInterfaceConfig1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/wandslifconfig1"/>
    </port>
    <port binding="WANDSLInterfaceConfig1" name="GetStatisticsTotal">
      <soap:address location="http://fritz.box:49000/upnp/control/wandslifconfig1"/>
    </port>
  </service>
  <binding name="WANDSLInterfaceConfig1" type="WANDSLInterfaceConfig1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANDSLInterfaceConfig:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetStatisticsTotal">
      <soap:operation soapAction="urn:dslforum-org:service:WANDSLInterfaceConfig:1#GetStatisticsTotal"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:WANDSLInterfaceConfig:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="WANDSLInterfaceConfig1">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="GetStatisticsTotal">
      <input message="GetStatisticsTotalRequest"/>
      <output message="GetStatisticsTotalResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewStatus"/>
    <part type="xsd:string" name="NewDataPath"/>
    <part type="xsd:int" name="NewUpstreamCurrRate"/>
    <part type="xsd:unsignedInt" name="NewDownstreamCurrRate"/>
    <part type="xsd:unsignedInt" name="NewUpstreamMaxRate"/>
    <part type="xsd:unsignedInt" name="NewDownstreamMaxRate"/>
    <part type="xsd:unsignedInt" name="NewUpstreamNoiseMargin"/>
    <part type="xsd:unsignedInt" name="NewDownstreamNoiseMargin"/>
    <part type="xsd:unsignedInt" name="NewUpstreamAttenuation"/>
    <part type="xsd:unsignedInt" name="NewDownstreamAttenuation"/>
    <part type="xsd:string" name="NewATURVendor"/>
    <part type="xsd:string" name="NewATURCountry"/>
    <part type="xsd:unsignedShort" name="NewUpstreamPower"/>
    <part type="xsd:unsignedShort" name="NewDownstreamPower"/>
  </message>
  <message name="GetStatisticsTotalRequest"/>
  <message name="GetStatisticsTotalResponse">
    <part type="xsd:unsignedInt" name="NewReceiveBlocks"/>
    <part type="xsd:unsignedInt" name="NewTransmitBlocks"/>
    <part type="xsd:unsignedInt" name="NewCellDelin"/>
    <part type="xsd:unsignedInt" name="NewLinkRetrain"/>
    <part type="xsd:unsignedInt" name="NewInitErrors"/>
    <part type="xsd:unsignedInt" name="NewInitTimeouts"/>
    <part type="xsd:unsignedInt" name="NewLossOfFraming"/>
    <part type="xsd:unsignedInt" name="NewErroredSecs"/>
    <part type="xsd:unsignedInt" name="NewSeverelyErroredSecs"/>
    <part type="xsd:unsignedInt" name="NewFECErrors"/>
    <part type="xsd:unsignedInt" name="NewATUCFECErrors"/>
    <part type="xsd:unsignedInt" name="NewHECErrors"/>
    <part type="xsd:unsignedInt" name="NewATUCHECErrors"/>
    <part type="xsd:unsignedInt" name="NewCRCErrors"/>
    <part type="xsd:unsignedInt" name="NewATUCCRCErrors"/>
  </message>
</definitions>
