wsdl/X_AVM-DE_Storage1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_Storage1">
    <documentation>http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/x_storageSCPD.pdf</documentation>
    <port binding="X_AVM-DE_Storage1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_storage"/>
    </port>
    <port binding="X_AVM-DE_Storage1" name="SetFTPServer">
      <soap:address location="http://fritz.box:49000/upnp/control/x_storage"/>
    </port>
    <port binding="X_AVM-DE_Storage1" name="SetSMBServer">
      <soap:address location="http://fritz.box:49000/upnp/control/x_storage"/>
    </port>
    <port binding="X_AVM-DE_Storage1" name="GetUserInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_storage"/>
    </port>
    <port binding="X_AVM-DE_Storage1" name="SetUserConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_storage"/>
    </port>
  </service>
  <binding name="X_AVM-DE_Storage1" type="X_AVM-DE_Storage1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Storage:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetFTPServer">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Storage:1#SetFTPServer"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetSMBServer">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Storage:1#SetSMBServer"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetUserInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Storage:1#GetUserInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetUserConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Storage:1#SetUserConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_Storage:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_Storage1">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetFTPServer">
      <input message="SetFTPServerRequest"/>
      <output message="SetFTPServerResponse"/>
    </operation>
    <operation name="SetSMBServer">
      <input message="SetSMBServerRequest"/>
      <output message="SetSMBServerResponse"/>
    </operation>
    <operation name="GetUserInfo">
      <input message="GetUserInfoRequest"/>
      <output message="GetUserInfoResponse"/>
    </operation>
    <operation name="SetUserConfig">
      <input message="SetUserConfigRequest"/>
      <output message="SetUserConfigResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:boolean" name="NewFTPEnable"/>
    <part type="xsd:string" name="NewFTPStatus"/>
    <part type="xsd:boolean" name="NewSMBEnable"/>
  </message>
  <message name="SetFTPServerRequest">
    <part type="xsd:boolean" name="NewFTPEnable"/>
  </message>
  <message name="SetFTPServerResponse"/>
  <message name="SetSMBServerRequest">
    <part type="xsd:boolean" name="NewSMBEnable"/>
  </message>
  <message name="SetSMBServerResponse"/>
  <message name="GetUserInfoRequest"/>
  <message name="GetUserInfoResponse">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:boolean" name="NewX_AVM-DE_NetworkAccessReadOnly"/>
  </message>
  <message name="SetUserConfigRequest">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewPassword"/>
    <part type="xsd:boolean" name="NewX_AVM-DE_NetworkAccessReadOnly"/>
  </message>
  <message name="SetUserConfigResponse"/>
</definitions>
