wsdl/X_AVM-DE_WebDAVClient1.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_WebDAVClient1">
    <documentation>http://avm.de/fileadmin/user_upload/Global/Service/Schnittstellen/x_webdavSCPD.pdf</documentation>
    <port binding="X_AVM-DE_WebDAVClient1" name="GetInfo">
      <soap:address location="http://fritz.box:49000/upnp/control/x_webdav"/>
    </port>
    <port binding="X_AVM-DE_WebDAVClient1" name="SetConfig">
      <soap:address location="http://fritz.box:49000/upnp/control/x_webdav"/>
    </port>
  </service>
  <binding name="X_AVM-DE_WebDAVClient1" type="X_AVM-DE_WebDAVClient1">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_WebDAVClient:1#GetInfo"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_WebDAVClient:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_WebDAVClient:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="SetConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_WebDAVClient:1#SetConfig"/>
      <input>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_WebDAVClient:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:dslforum-org:service:X_AVM-DE_WebDAVClient:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="X_AVM-DE_WebDAVClient1">
    <operation name="GetInfo">
      <input message="GetInfoRequest"/>
      <output message="GetInfoResponse"/>
    </operation>
    <operation name="SetConfig">
      <input message="SetConfigRequest"/>
      <output message="SetConfigResponse"/>
    </operation>
  </portType>
  <message name="GetInfoRequest"/>
  <message name="GetInfoResponse">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewHostURL"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:string" name="NewMountpointName"/>
  </message>
  <message name="SetConfigRequest">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewHostURL"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:string" name="NewPassword"/>
    <part type="xsd:string" name="NewMountpointName"/>
  </message>
  <message name="SetConfigResponse"/>
</definitions>
