wsdl/tr64/Filelinks.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_Filelinks">
    <port binding="X_AVM-DE_Filelinks">
      <soap:address location="http://fritz.box:49000/upnp/control/x_filelinks"/>
    </port>
  </service>
  <binding name="X_AVM-DE_Filelinks" type="X_AVM-DE_Filelinks">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getNumberOfFilelinkEntries">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#GetNumberOfFilelinkEntries"/>
    </operation>
    <operation name="getGenericFilelinkEntry">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#GetGenericFilelinkEntry"/>
    </operation>
    <operation name="getSpecificFilelinkEntry">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#GetSpecificFilelinkEntry"/>
    </operation>
    <operation name="newFilelinkEntry">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#NewFilelinkEntry"/>
    </operation>
    <operation name="setFilelinkEntry">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#SetFilelinkEntry"/>
    </operation>
    <operation name="deleteFilelinkEntry">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#DeleteFilelinkEntry"/>
    </operation>
    <operation name="getFilelinkListPath">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Filelinks:1#GetFilelinkListPath"/>
    </operation>
  </binding>
  <portType name="X_AVM-DE_Filelinks">
    <operation name="getNumberOfFilelinkEntries">
      <output message="getNumberOfFilelinkEntriesResponse"/>
    </operation>
    <operation name="getGenericFilelinkEntry">
      <input message="getGenericFilelinkEntryRequest"/>
      <output message="getGenericFilelinkEntryResponse"/>
    </operation>
    <operation name="getSpecificFilelinkEntry">
      <input message="getSpecificFilelinkEntryRequest"/>
      <output message="getSpecificFilelinkEntryResponse"/>
    </operation>
    <operation name="newFilelinkEntry">
      <input message="newFilelinkEntryRequest"/>
      <output message="newFilelinkEntryResponse"/>
    </operation>
    <operation name="setFilelinkEntry">
      <input message="setFilelinkEntryRequest"/>
    </operation>
    <operation name="deleteFilelinkEntry">
      <input message="deleteFilelinkEntryRequest"/>
    </operation>
    <operation name="getFilelinkListPath">
      <output message="getFilelinkListPathResponse"/>
    </operation>
  </portType>
  <message name="getNumberOfFilelinkEntriesResponse">
    <part type="xsd:unsignedShort" name="NewNumberOfEntries"/>
  </message>
  <message name="getGenericFilelinkEntryRequest">
    <part type="xsd:unsignedShort" name="NewIndex"/>
  </message>
  <message name="getGenericFilelinkEntryResponse">
    <part type="xsd:string" name="NewID"/>
    <part type="xsd:boolean" name="NewValid"/>
    <part type="xsd:string" name="NewPath"/>
    <part type="xsd:boolean" name="NewIsDirectory"/>
    <part type="xsd:string" name="NewUrl"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:unsignedShort" name="NewAccessCountLimit"/>
    <part type="xsd:unsignedShort" name="NewAccessCount"/>
    <part type="xsd:unsignedShort" name="NewExpire"/>
    <part type="xsd:dateTime" name="NewExpireDate"/>
  </message>
  <message name="getSpecificFilelinkEntryRequest">
    <part type="xsd:string" name="NewID"/>
  </message>
  <message name="getSpecificFilelinkEntryResponse">
    <part type="xsd:boolean" name="NewValid"/>
    <part type="xsd:string" name="NewPath"/>
    <part type="xsd:boolean" name="NewIsDirectory"/>
    <part type="xsd:string" name="NewUrl"/>
    <part type="xsd:string" name="NewUsername"/>
    <part type="xsd:unsignedShort" name="NewAccessCountLimit"/>
    <part type="xsd:unsignedShort" name="NewAccessCount"/>
    <part type="xsd:unsignedShort" name="NewExpire"/>
    <part type="xsd:dateTime" name="NewExpireDate"/>
  </message>
  <message name="newFilelinkEntryRequest">
    <part type="xsd:string" name="NewPath"/>
    <part type="xsd:unsignedShort" name="NewAccessCountLimit"/>
    <part type="xsd:unsignedShort" name="NewExpire"/>
  </message>
  <message name="newFilelinkEntryResponse">
    <part type="xsd:string" name="NewID"/>
  </message>
  <message name="setFilelinkEntryRequest">
    <part type="xsd:string" name="NewID"/>
    <part type="xsd:unsignedShort" name="NewAccessCountLimit"/>
    <part type="xsd:unsignedShort" name="NewExpire"/>
  </message>
  <message name="deleteFilelinkEntryRequest">
    <part type="xsd:string" name="NewID"/>
  </message>
  <message name="getFilelinkListPathResponse">
    <part type="xsd:string" name="NewFilelinkListPath"/>
  </message>
</definitions>
