wsdl/tr64/Speedtest.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="X_AVM-DE_Speedtest">
    <port binding="X_AVM-DE_Speedtest">
      <soap:address location="http://fritz.box:49000/upnp/control/x_speedtest"/>
    </port>
  </service>
  <binding name="X_AVM-DE_Speedtest" type="X_AVM-DE_Speedtest">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getInfo">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Speedtest:1#GetInfo"/>
    </operation>
    <operation name="setConfig">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Speedtest:1#SetConfig"/>
    </operation>
    <operation name="getStatistics">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Speedtest:1#GetStatistics"/>
    </operation>
    <operation name="resetStatistics">
      <soap:operation soapAction="urn:dslforum-org:service:X_AVM-DE_Speedtest:1#ResetStatistics"/>
    </operation>
  </binding>
  <portType name="X_AVM-DE_Speedtest">
    <operation name="getInfo">
      <output message="getInfoResponse"/>
    </operation>
    <operation name="setConfig">
      <input message="setConfigRequest"/>
    </operation>
    <operation name="getStatistics">
      <output message="getStatisticsResponse"/>
    </operation>
    <operation name="resetStatistics"/>
  </portType>
  <message name="getInfoResponse">
    <part type="xsd:boolean" name="NewEnableTcp"/>
    <part type="xsd:boolean" name="NewEnableUdp"/>
    <part type="xsd:boolean" name="NewEnableUdpBidirect"/>
    <part type="xsd:boolean" name="NewWANEnableTcp"/>
    <part type="xsd:boolean" name="NewWANEnableUdp"/>
    <part type="xsd:unsignedInt" name="NewPortTcp"/>
    <part type="xsd:unsignedInt" name="NewPortUdp"/>
    <part type="xsd:unsignedInt" name="NewPortUdpBidirect"/>
  </message>
  <message name="setConfigRequest">
    <part type="xsd:boolean" name="NewEnableTcp"/>
    <part type="xsd:boolean" name="NewEnableUdp"/>
    <part type="xsd:boolean" name="NewEnableUdpBidirect"/>
    <part type="xsd:boolean" name="NewWANEnableTcp"/>
    <part type="xsd:boolean" name="NewWANEnableUdp"/>
  </message>
  <message name="getStatisticsResponse">
    <part type="xsd:unsignedInt" name="NewByteCount"/>
    <part type="xsd:unsignedInt" name="NewKbitsCurrent"/>
    <part type="xsd:unsignedInt" name="NewKbitsAvg"/>
    <part type="xsd:unsignedInt" name="NewPacketCount"/>
    <part type="xsd:unsignedInt" name="NewPPSCurrent"/>
    <part type="xsd:unsignedInt" name="NewPPSAvg"/>
  </message>
</definitions>
