wsdl/tr64/WANIPConnection.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="WANIPConnection">
    <port binding="WANIPConnection">
      <soap:address location="http://fritz.box:49000/upnp/control/wanipconnection1"/>
    </port>
  </service>
  <binding name="WANIPConnection" type="WANIPConnection">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetInfo"/>
    </operation>
    <operation name="getConnectionTypeInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetConnectionTypeInfo"/>
    </operation>
    <operation name="setConnectionType">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetConnectionType"/>
    </operation>
    <operation name="getStatusInfo">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetStatusInfo"/>
    </operation>
    <operation name="getNATRSIPStatus">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetNATRSIPStatus"/>
    </operation>
    <operation name="setConnectionTrigger">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetConnectionTrigger"/>
    </operation>
    <operation name="forceTermination">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#ForceTermination"/>
    </operation>
    <operation name="requestConnection">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#RequestConnection"/>
    </operation>
    <operation name="getGenericPortMappingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetGenericPortMappingEntry"/>
    </operation>
    <operation name="getSpecificPortMappingEntry">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetSpecificPortMappingEntry"/>
    </operation>
    <operation name="addPortMapping">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#AddPortMapping"/>
    </operation>
    <operation name="deletePortMapping">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#DeletePortMapping"/>
    </operation>
    <operation name="getExternalIPAddress">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetExternalIPAddress"/>
    </operation>
    <operation name="x_GetDNSServers">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#X_GetDNSServers"/>
    </operation>
    <operation name="getPortMappingNumberOfEntries">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#GetPortMappingNumberOfEntries"/>
    </operation>
    <operation name="setRouteProtocolRx">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetRouteProtocolRx"/>
    </operation>
    <operation name="setIdleDisconnectTime">
      <soap:operation soapAction="urn:dslforum-org:service:WANIPConnection:1#SetIdleDisconnectTime"/>
    </operation>
  </binding>
  <portType name="WANIPConnection">
    <operation name="getInfo">
      <output message="getInfoResponse"/>
    </operation>
    <operation name="getConnectionTypeInfo">
      <output message="getConnectionTypeInfoResponse"/>
    </operation>
    <operation name="setConnectionType">
      <input message="setConnectionTypeRequest"/>
    </operation>
    <operation name="getStatusInfo">
      <output message="getStatusInfoResponse"/>
    </operation>
    <operation name="getNATRSIPStatus">
      <output message="getNATRSIPStatusResponse"/>
    </operation>
    <operation name="setConnectionTrigger">
      <input message="setConnectionTriggerRequest"/>
    </operation>
    <operation name="forceTermination"/>
    <operation name="requestConnection"/>
    <operation name="getGenericPortMappingEntry">
      <input message="getGenericPortMappingEntryRequest"/>
      <output message="getGenericPortMappingEntryResponse"/>
    </operation>
    <operation name="getSpecificPortMappingEntry">
      <input message="getSpecificPortMappingEntryRequest"/>
      <output message="getSpecificPortMappingEntryResponse"/>
    </operation>
    <operation name="addPortMapping">
      <input message="addPortMappingRequest"/>
    </operation>
    <operation name="deletePortMapping">
      <input message="deletePortMappingRequest"/>
    </operation>
    <operation name="getExternalIPAddress">
      <output message="getExternalIPAddressResponse"/>
    </operation>
    <operation name="x_GetDNSServers">
      <output message="x_GetDNSServersResponse"/>
    </operation>
    <operation name="getPortMappingNumberOfEntries">
      <output message="getPortMappingNumberOfEntriesResponse"/>
    </operation>
    <operation name="setRouteProtocolRx">
      <input message="setRouteProtocolRxRequest"/>
    </operation>
    <operation name="setIdleDisconnectTime">
      <input message="setIdleDisconnectTimeRequest"/>
    </operation>
  </portType>
  <message name="getInfoResponse">
    <part type="xsd:boolean" name="NewEnable"/>
    <part type="xsd:string" name="NewConnectionStatus"/>
    <part type="xsd:string" name="NewPossibleConnectionTypes"/>
    <part type="xsd:string" name="NewConnectionType"/>
    <part type="xsd:string" name="NewName"/>
    <part type="xsd:unsignedInt" name="NewUptime"/>
    <part type="xsd:string" name="NewLastConnectionError"/>
    <part type="xsd:boolean" name="NewRSIPAvailable"/>
    <part type="xsd:boolean" name="NewNATEnabled"/>
    <part type="xsd:string" name="NewExternalIPAddress"/>
    <part type="xsd:string" name="NewDNSServers"/>
    <part type="xsd:string" name="NewMACAddress"/>
    <part type="xsd:string" name="NewConnectionTrigger"/>
    <part type="xsd:string" name="NewRouteProtocolRx"/>
    <part type="xsd:boolean" name="NewDNSEnabled"/>
    <part type="xsd:boolean" name="NewDNSOverrideAllowed"/>
  </message>
  <message name="getConnectionTypeInfoResponse">
    <part type="xsd:string" name="NewConnectionType"/>
    <part type="xsd:string" name="NewPossibleConnectionTypes"/>
  </message>
  <message name="setConnectionTypeRequest">
    <part type="xsd:string" name="NewConnectionType"/>
  </message>
  <message name="getStatusInfoResponse">
    <part type="xsd:string" name="NewConnectionStatus"/>
    <part type="xsd:string" name="NewLastConnectionError"/>
    <part type="xsd:unsignedInt" name="NewUptime"/>
  </message>
  <message name="getNATRSIPStatusResponse">
    <part type="xsd:boolean" name="NewRSIPAvailable"/>
    <part type="xsd:boolean" name="NewNATEnabled"/>
  </message>
  <message name="setConnectionTriggerRequest">
    <part type="xsd:string" name="NewConnectionTrigger"/>
  </message>
  <message name="getGenericPortMappingEntryRequest">
    <part type="xsd:unsignedShort" name="NewPortMappingIndex"/>
  </message>
  <message name="getGenericPortMappingEntryResponse">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="getSpecificPortMappingEntryRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
  </message>
  <message name="getSpecificPortMappingEntryResponse">
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="addPortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
    <part type="xsd:unsignedShort" name="NewInternalPort"/>
    <part type="xsd:string" name="NewInternalClient"/>
    <part type="xsd:boolean" name="NewEnabled"/>
    <part type="xsd:string" name="NewPortMappingDescription"/>
    <part type="xsd:unsignedInt" name="NewLeaseDuration"/>
  </message>
  <message name="deletePortMappingRequest">
    <part type="xsd:string" name="NewRemoteHost"/>
    <part type="xsd:unsignedShort" name="NewExternalPort"/>
    <part type="xsd:string" name="NewProtocol"/>
  </message>
  <message name="getExternalIPAddressResponse">
    <part type="xsd:string" name="NewExternalIPAddress"/>
  </message>
  <message name="x_GetDNSServersResponse">
    <part type="xsd:string" name="NewDNSServers"/>
  </message>
  <message name="getPortMappingNumberOfEntriesResponse">
    <part type="xsd:unsignedShort" name="NewPortMappingNumberOfEntries"/>
  </message>
  <message name="setRouteProtocolRxRequest">
    <part type="xsd:string" name="NewRouteProtocolRx"/>
  </message>
  <message name="setIdleDisconnectTimeRequest">
    <part type="xsd:unsignedInt" name="NewIdleDisconnectTime"/>
  </message>
</definitions>
