wsdl/MediaServerDevDesc-xbox/ContentDirectory.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <service name="ContentDirectory">
    <port binding="ContentDirectory" name="GetSearchCapabilities">
      <soap:address location="http://fritz.box:49000/MediaServer/ContentDirectory/Control"/>
    </port>
    <port binding="ContentDirectory" name="GetSortCapabilities">
      <soap:address location="http://fritz.box:49000/MediaServer/ContentDirectory/Control"/>
    </port>
    <port binding="ContentDirectory" name="GetSystemUpdateID">
      <soap:address location="http://fritz.box:49000/MediaServer/ContentDirectory/Control"/>
    </port>
    <port binding="ContentDirectory" name="Browse">
      <soap:address location="http://fritz.box:49000/MediaServer/ContentDirectory/Control"/>
    </port>
    <port binding="ContentDirectory" name="Search">
      <soap:address location="http://fritz.box:49000/MediaServer/ContentDirectory/Control"/>
    </port>
  </service>
  <binding name="ContentDirectory" type="ContentDirectory">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetSearchCapabilities">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ContentDirectory:1#GetSearchCapabilities"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSortCapabilities">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ContentDirectory:1#GetSortCapabilities"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="GetSystemUpdateID">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ContentDirectory:1#GetSystemUpdateID"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Browse">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ContentDirectory:1#Browse"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="Search">
      <soap:operation soapAction="urn:schemas-upnp-org:service:ContentDirectory:1#Search"/>
      <input>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:schemas-upnp-org:service:ContentDirectory:1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <portType name="ContentDirectory">
    <operation name="GetSearchCapabilities">
      <input message="GetSearchCapabilitiesRequest"/>
      <output message="GetSearchCapabilitiesResponse"/>
    </operation>
    <operation name="GetSortCapabilities">
      <input message="GetSortCapabilitiesRequest"/>
      <output message="GetSortCapabilitiesResponse"/>
    </operation>
    <operation name="GetSystemUpdateID">
      <input message="GetSystemUpdateIDRequest"/>
      <output message="GetSystemUpdateIDResponse"/>
    </operation>
    <operation name="Browse">
      <input message="BrowseRequest"/>
      <output message="BrowseResponse"/>
    </operation>
    <operation name="Search">
      <input message="SearchRequest"/>
      <output message="SearchResponse"/>
    </operation>
  </portType>
  <message name="GetSearchCapabilitiesRequest"/>
  <message name="GetSearchCapabilitiesResponse">
    <part type="xsd:string" name="SearchCaps"/>
  </message>
  <message name="GetSortCapabilitiesRequest"/>
  <message name="GetSortCapabilitiesResponse">
    <part type="xsd:string" name="SortCaps"/>
  </message>
  <message name="GetSystemUpdateIDRequest"/>
  <message name="GetSystemUpdateIDResponse">
    <part type="xsd:unsignedInt" name="Id"/>
  </message>
  <message name="BrowseRequest">
    <part type="xsd:string" name="ObjectID"/>
    <part type="xsd:string" name="BrowseFlag"/>
    <part type="xsd:string" name="Filter"/>
    <part type="xsd:unsignedInt" name="StartingIndex"/>
    <part type="xsd:unsignedInt" name="RequestedCount"/>
    <part type="xsd:string" name="SortCriteria"/>
  </message>
  <message name="BrowseResponse">
    <part type="xsd:string" name="Result"/>
    <part type="xsd:unsignedInt" name="NumberReturned"/>
    <part type="xsd:unsignedInt" name="TotalMatches"/>
    <part type="xsd:unsignedInt" name="UpdateID"/>
  </message>
  <message name="SearchRequest">
    <part type="xsd:string" name="ContainerID"/>
    <part type="xsd:string" name="SearchCriteria"/>
    <part type="xsd:string" name="Filter"/>
    <part type="xsd:unsignedInt" name="StartingIndex"/>
    <part type="xsd:unsignedInt" name="RequestedCount"/>
    <part type="xsd:string" name="SortCriteria"/>
  </message>
  <message name="SearchResponse">
    <part type="xsd:string" name="Result"/>
    <part type="xsd:unsignedInt" name="NumberReturned"/>
    <part type="xsd:unsignedInt" name="TotalMatches"/>
    <part type="xsd:unsignedInt" name="UpdateID"/>
  </message>
</definitions>
